<section class="lg:p-8">
  <div class="md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl px-8 py-12 mx-auto">
    <div
      class="lg:grid lg:grid-cols-2 lg:items-end lg:gap-8 items-center justify-center">
      <div class="text-center lg:text-left">
        <span class="text-accent-400"> Our customers</span>
        <h2 class="text-3xl mt-6 tracking-tighter font-light text-white">
          Some of the fortune 500 <span class="block text-zinc-300"
            >companies who trust us.</span
          >
        </h2>
      </div>
      <div
        class="mt-8 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-3">
        <div class="col-span-1 hidden lg:flex justify-center py-4 px-4">
          <img src="/images/logos/spacex.svg" alt="" />
        </div>
        <div class="col-span-1 flex justify-center py-4 px-4">
          <img src="/images/logos/spotify.svg" alt="" />
        </div>
        <div class="col-span-1 flex justify-center py-4 px-4">
          <img src="/images/logos/zoom.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
