<section>
  <div class="md:px-12 lg:px-16 xl:px-36 max-w-7xl px-8 py-12 mx-auto">
    <div class="flow-root py-24 border-y border-white/10">
      
      <div class="-ml-8 grid grid-cols-5 lg:-ml-4 gap-6">
        <div
          class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
          <img src="/images/logos/notion.svg" alt="" />
        </div>
        <div
          class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
          <img src="/images/logos/github.svg" alt="" />
        </div>
        <div
          class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
          <img src="/images/logos/dribbble.svg" alt="" />
        </div>
        <div
          class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
          <img src="/images/logos/adobe.svg" alt="" />
        </div>
        <div
          class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
          <img src="/images/logos/basecamp.svg" alt="" />
        </div>
        <div
          class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
          <img src="/images/logos/spotify.svg" alt="" />
        </div>
        <div
          class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
          <img src="/images/logos/spacex.svg" alt="" />
        </div>
        <div
          class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
          <img src="/images/logos/adobe.svg" alt="" />
        </div>
        <div
          class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
          <img src="/images/logos/airbnb.svg" alt="" />
        </div>
        <div
          class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
          <img src="/images/logos/twich.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
