<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full">
    <div class="max-w-xl mx-auto text-center">
      <span class="text-accent-400"> Opinions</span>
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
        Meet the founders using Buio
      </h2>
    </div>
    <ul
      role="list"
      class="grid grid-cols-1 gap-2 lg:grid-cols-4 lg:space-y-0 mt-12">
      <li class="bg-ebony shadow-inset rounded-3xl lg:p-8 p-4 text-center">
        <figure>
          <div class="h-full group grid">
            <figcaption class="relative flex items-center flex-col gap-4 pb-6">
              <div class="overflow-hidden shrink-0">
                <img
                  alt="amrit"
                  src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                  width="56"
                  height="56"
                  decoding="async"
                  data-mining="future"
                  class="object-cover rounded-full h-14 w-14 grayscale shrink-0"
                />
              </div>
              <div>
                <div class="text-lg font-medium leading-6 text-white">
                  Amrit Nagi
                </div>
                <div class="mt-1">
                  <a
                    class="text-sm text-white/70 group-hover:text-white"
                    href="#">CEO of Tailwind Toolbox</a
                  >
                </div>
              </div>
            </figcaption>
            <blockquote class="relative mt-2 space-y-3">
              <p class="text-sm text-white">
                It's amazing just how quickly the quality and variety of his
                work has developed and evolved!
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
      <li class="bg-ebony shadow-inset rounded-3xl lg:p-8 p-4 text-center">
        <figure>
          <div class="h-full group">
            <figcaption class="relative flex items-center flex-col gap-4 pb-6">
              <div class="overflow-hidden shrink-0">
                <img
                  alt="img"
                  src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                  class="object-cover rounded-full h-14 w-14 grayscale shrink-0"
                />
              </div>
              <div>
                <div class="text-lg font-medium leading-6 text-white">
                  Gabriel Perales
                </div>
                <div class="mt-1">
                  <a
                    class="text-sm text-white/70 group-hover:text-white"
                    href="#">Engineer at Cabify</a
                  >
                </div>
              </div>
            </figcaption>
            <blockquote class="relative mt-2">
              <p class="text-sm text-white">
                Mike has helped me with many designs, and I couldn't follow his
                working speed when we worked together.
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
      <li class="bg-ebony shadow-inset rounded-3xl lg:p-8 p-4 text-center">
        <figure>
          <div class="h-full group grid">
            <figcaption class="relative flex items-center flex-col gap-4 pb-6">
              <div class="overflow-hidden shrink-0">
                <img
                  alt=""
                  src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
                  width="56"
                  height="56"
                  decoding="async"
                  data-mining="future"
                  class="object-cover rounded-full h-14 w-14 grayscale shrink-0"
                />
              </div>
              <div>
                <div class="text-lg font-medium leading-6 text-white">
                  Volkan Kaya
                </div>
                <div class="mt-1">
                  <a
                    class="text-sm text-white/70 group-hover:text-white"
                    href="#">Founder of Versoly.com</a
                  >
                </div>
              </div>
            </figcaption>
            <blockquote class="relative">
              <p class="text-sm text-white">
                Mike leveraged his previous experience to build out a few
                landing pages very quickly for Versoly
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
      <li class="bg-ebony shadow-inset rounded-3xl lg:p-8 p-4 text-center">
        <figure>
          <div class="h-full group">
            <figcaption class="relative flex items-center flex-col gap-4 pb-6">
              <div class="overflow-hidden shrink-0">
                <img
                  alt="gustavo"
                  src="https://d33wubrfki0l68.cloudfront.net/05a6c2e973f7b38e7b5f5fb1923ed9507d6fc68d/10e85/images/testimonials/mike.png"
                  width="56"
                  height="56"
                  decoding="async"
                  data-mining="future"
                  class="object-cover rounded-full h-14 w-14 grayscale shrink-0"
                />
              </div>
              <div>
                <div class="text-lg font-medium leading-6 text-white">
                  Mike Jones
                </div>
                <div class="mt-1">
                  <a
                    class="text-sm text-white/70 group-hover:text-white"
                    href="#">Blogger at Raspada</a
                  >
                </div>
              </div>
            </figcaption>
            <blockquote class="relative mt-2 space-y-3">
              <p class="text-sm text-white">
                I have had the absolute pleasure of working with Mike in the
                past when building my blog Raspada. company.
              </p>
            </blockquote>
          </div>
        </figure>
      </li>
    </ul>
  </div>
</section>
