<div class="lg:p-8">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="relative overflow-hidden">
      <div class="text-center">
        <span class="text-accent-400"> Our Customers Love Us</span>
        <h2
          class="text-2xl py-3 mt-6 tracking-tighter font-light max-w-xl mx-auto text-white">
          Used by design agencies, freelance practitioners, universities, and
          numerous individuals representing companies across diverse industries
          worldwide.
        </h2>
      </div>
      <div
        class="container flex flex-col justify-center overflow-hidden md:flex-row"
        x-data="{ testimonialActive: 2 }">
        <div>
          <div class="relative flex flex-col h-full text-left">
            <div class="relative z-10 h-full">
              <div class="pb-6 max-w-sm mx-auto">
                <div x-show.immediate="testimonialActive === 1">
                  <p
                    class="text-zinc-400 text-sm mt-6 mx-auto text-center"
                    x-show.transition="testimonialActive == 1"
                    style="">
                    It's amazing just how quickly the quality and variety of his
                    work has developed and evolved!
                  </p>
                  <div class="flex items-center mt-8 justify-center mx-auto">
                    <a
                      href="/customers/customers-details"
                      type="a"
                      class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                      Read Macca's case &nbsp; &rarr;
                    </a>
                  </div>
                </div>
                <div
                  x-show.immediate="testimonialActive === 2"
                  style="display: none;">
                  <p
                    class="text-zinc-400 text-sm mt-6 mx-auto text-center"
                    x-show.transition="testimonialActive == 2"
                    style="display: none;">
                    Mike has helped me with many designs, and I couldn't follow
                    his working speed when we worked together.
                  </p>
                  <div class="flex items-center mt-8 justify-center mx-auto">
                    <a
                      href="/customers/customers-details"
                      type="a"
                      class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                      Read Walter's case &nbsp; &rarr;
                    </a>
                  </div>
                </div>
                <div
                  x-show.immediate="testimonialActive === 3"
                  style="display: none;">
                  <p
                    class="text-zinc-400 text-sm mt-6 mx-auto text-center"
                    x-show.transition="testimonialActive == 3"
                    style="display: none;">
                    Mike leveraged his previous experience to build out a few
                    landing pages very quickly for Versoly
                  </p>
                  <div class="flex items-center mt-8 justify-center mx-auto">
                    <a
                      href="/customers/customers-details"
                      type="a"
                      class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                      Read Pep's case &nbsp; &rarr;
                    </a>
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-center mt-6 lg:my-4">
                <button
                  @click.prevent="testimonialActive = 1"
                  class="inline-block mx-2 font-bold text-center rounded-full shadow-xs focus:outline-none focus:ring-2 h-12 w-12 opacity-25 bg-gradientdown ring-1 ring-offset-4 ring-accent-400 ring-offset-black"
                  :class="{'h-12 w-12 opacity-25 bg-gradientdown ': testimonialActive != 1, 'opacity-100 bg-gradientdown text-white': testimonialActive == 1 }">
                  <img
                    class="inline-block w-12 h-12 rounded-full"
                    src="https://images.unsplash.com/photo-1610216705422-caa3fcb6d158?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                    alt="#"
                  />
                </button>
                <button
                  @click.prevent="testimonialActive = 2"
                  class="inline-block mx-2 font-bold text-center rounded-full shadow-xs focus:outline-none focus:ring-2 h-12 w-12 opacity-25 bg-gradientdown ring-1 ring-offset-4 ring-accent-400 ring-offset-black"
                  :class="{'h-12 w-12 opacity-25 bg-gradientdown ': testimonialActive != 2, 'opacity-100 bg-gradientdown ': testimonialActive == 2 }">
                  <img
                    class="inline-block w-12 h-12 rounded-full"
                    src="https://images.unsplash.com/photo-1546458904-143d1674858d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80"
                    alt="@dqmonn on twitter"
                  />
                </button>
                <button
                  @click.prevent="testimonialActive = 3"
                  class="inline-block mx-2 font-bold text-center rounded-full shadow-xs focus:outline-none focus:ring-2 h-12 w-12 opacity-25 bg-gradientdown ring-1 ring-offset-4 ring-accent-400 ring-offset-black"
                  :class="{'h-12 w-12 opacity-25 bg-gradientdown ': testimonialActive != 3, 'opacity-100 bg-gradientdown text-white': testimonialActive == 3 }">
                  <img
                    class="inline-block w-12 h-12 rounded-full"
                    src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                    alt="@heychazza on twitter"
                  />
                </button>
              </div>
              <div class="flex justify-center px-4 pt-4 pb-6 md:py-6">
                <div class="text-center" x-show="testimonialActive == 1">
                  <h2 class="text-zinc-400 text-sm font-mediumlgext-base">
                    Macca Macca
                  </h2>
                  <a href="#" class="text-xs text-zinc-400">@paccopepe.</a>
                </div>
                <div
                  class="text-center"
                  x-show="testimonialActive == 2"
                  style="display: none;">
                  <h2 class="text-white text-sm font-mediumlgext-base">
                    Walter Falter
                  </h2>
                  <a href="#" class="text-xs text-zinc-400">@woopiwoop.</a>
                </div>
                <div
                  class="text-center"
                  x-show="testimonialActive == 3"
                  style="display: none;">
                  <h2 class="text-white text-sm font-mediumlgext-base">
                    Pepe Guardiola
                  </h2>
                  <a href="#" class="text-xs text-zinc-400"> @kachito</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
