---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en" class="selection:text-white selection:bg-accent-500">
  <head>
    <BaseHead />
  </head>
  <body class="bg-black">
    <Navigation />
    <slot />
    <Footer />
  </body>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</html>


<script>
  import AOS from 'aos'

  AOS.init()

</script>