---
import BaseHead from "@/components/BaseHead.astro";
import NavigationLight from "@/components/global/NavigationLight.astro";

import FooterLight from "@/components/global/FooterLight.astro";
---

<html lang="en" class="selection:text-white selection:bg-black">
  <head>
    <BaseHead />
  </head>

  <body class="bg-black">
    <NavigationLight />
    <slot />
    <FooterLight />
  </body>
</html>
