---
import ChangelogItem from "@/components/complex/ChangelogItem.astro";
import { getEntry, getEntries, getCollection } from "astro:content";

interface Props {}

const {} = Astro.props;

const changelogCollection = await getCollection("changelogs");
---

<section class="lg:p-8">
  <div
    class="px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div class="relative text-center mx-auto max-w-3xl">
      <span
        data-aos="fade-down"
        class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10"
      >
        Changelog
      </span>

      <h2
        data-aos="fade-down"
        class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-white"
      >
        Follow our journey <span class="block text-zinc-400"
          >and keep track of us.</span
        >
      </h2>
    </div>

    <div
      class="mx-auto max-w-[40rem] mt-24 prose-sm prose text-zinc-400 prose-headings:text-white prose-a:no-underline prose-a:text-accent-400 hover:prose-a:text-white"
    >
      {changelogCollection.map((log) => <ChangelogItem log={log} />)}
    </div>
  </div>
</section>
