<section>
  <div
    class="items-center w-xl px-8 my-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="gap-12 lg:grid-cols-2 lg:grid">
      <div>
        <h2 class="text-3xl lg:text-5xl font-semibold text-white lg:mx-auto">
          Leading development for modern startups.
        </h2>
        <p class="mt-5 font-light text-zinc-400 text-xl">
          Build a unique experience by mixing and matching components, just like
          I mentioned before.
        </p>
      </div>

      <div class="mt-12 lg:mt-0">
        <div class="max-w-xl mx-auto text-left lg:max-w-7xl">
          <div>
            <dl
              class="grid grid-cols-2 gap-12 md:grid-cols-2 lg:space-y-0 lg:gap-2 lg:text-center">
              <div
                class="bg-dark p-4 lg:p-8 rounded-2xl shadow-superThick border border-zinc-700">
                <dt>
                  <p class="mt-4 text-4xl text-white">30+</p>
                </dt>
                <dd class="mt-4 text-base text-zinc-400">
                  Prebuilt landing pages
                </dd>
              </div>
              <div
                class="bg-dark p-4 lg:p-8 rounded-2xl shadow-superThick border border-zinc-700">
                <dt>
                  <p class="mt-4 text-4xl text-white">100+</p>
                </dt>
                <dd class="mt-4 text-base text-zinc-400">
                  Swappable sections and consistent sections
                </dd>
              </div>
              <div
                class="bg-dark p-4 lg:p-8 rounded-2xl shadow-superThick border border-zinc-700">
                <dt>
                  <p class="mt-4 text-4xl text-white">5</p>
                </dt>
                <dd class="mt-4 text-base text-zinc-400">Astro integrations</dd>
              </div>
              <div
                class="bg-dark p-4 lg:p-8 rounded-2xl shadow-superThick border border-zinc-700">
                <dt>
                  <p class="mt-4 text-4xl text-white">100%</p>
                </dt>
                <dd class="mt-4 text-base text-zinc-400">Responsive</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
