---
import { Particles } from "@/components/react/Particles";
import { HeroSection } from "@/components/react/HeroSection";

---
<section class="lg:p-8 overflow-hidden">
    <HeroSection client:load>
      <Particles
             client:load
							className="absolute inset-0 -z-10 opacity-10 group-hover/section:opacity-100 transition-opacity duration-700 ease-in-out"
							quantity={300}
						/>
      <img
        class="sr-only lg:not-sr-only lg:absolute -mt-24 -right-64"
        src="/images/assets/cube.png"
        alt=""
      />
      <div class="max-w-xl" 
      >
        <div class="mb-8 flex" data-aos="fade-down">
          <span
            class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10">
            Welcome to Hazel
          </span>
        </div>
        <div class="mt-6" 
        >
          <h1
          data-aos="fade-down"
          data-aos-delay="100"
             
            class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-white">
            HazelHook delightful Webhook managment
            <span class="block text-zinc-400"> for all your needs.</span>
          </h1>
  
          <p class="text-white mt-6" data-aos="fade-down"
          data-aos-delay="200"
          > 
            Enjoy seamless webhook integration, receive webhooks reliably even if your server goes down!
            Intgerated features like automatic retries, rate limiting and our delightful to use monitoring solutions keep your stack running. 
            While we ensure a seamless and unified development experience, made blazingly fast with your dev tools and data transformation piplines.
          </p>
          <div class="inline-flex flex-wrap items-center mt-8" data-aos="fade-down"
          data-aos-delay="300">
            <a
              href="https://app.hazelhook.dev"
              type="a"
              class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
             Get Started
            </a>
          </div>
        </div>
      </div>
    </HeroSection>
  </section>
  