---
interface Props {
 name:string
 position?:number
}

const {name,position} = Astro.props
---

<div
  class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0"     data-aos="fade-down"
          data-aos-delay={position * 100}>
          <img src={`/images/logos/${name}.svg`} alt={name} />
        </div>