---
import Logo from "@/components/landing/Logo.astro";

const logos = ["github", "stripe", "linear", "chargebee", "gocardless"];
---

<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full"
  >
    <div class="pb-12 border-b border-white/10">
      <!-- <span class="text-accent-400"  data-aos="fade-down"
      >Powering worlds best teams to succeed</span>
      <h2 class="text-xl mt-6 tracking-tighter font-light text-white"    data-aos="fade-down"
      data-aos-delay="100">
        Trusted by industry leaders, <span class="block text-zinc-400"
          >as we redefine standards of quality and performance.</span
        >
      </h2> -->
      <span class="text-accent-400" data-aos="fade-down"
        >Integrating with worlds best tools</span
      >
      <h2
        class="text-xl mt-6 tracking-tighter font-light text-white"
        data-aos="fade-down"
        data-aos-delay="100"
      >
        Easily Integrate, <span class="block text-zinc-400"
          >as we redefine standards of quality and performance.</span
        >
      </h2>
    </div>
    <div class="flow-root mt-6">
      <div class="-ml-8 grid grid-cols-5 lg:-ml-4">
        {logos.map((logo, index) => <Logo name={logo} position={index + 1} />)}
      </div>
    </div>
  </div>
</section>
