<section id="pricing" class="p-4 lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full">
    <div class="text-center max-w-xl mx-auto">
      <span class="text-accent-400"> Pricing </span>
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
       Pricing build for<span class="block text-zinc-400"
          >everyone</span
        >
      </h2>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 -mx-4 sm:mx-auto lg:grid-cols-3 xl:mx-0 gap-2 mt-12">
      <section
        class="flex flex-col px-6 py-8 bg-ebony shadow-inset rounded-3xl lg:order-none">
        <div class="h-full">
          <div class="gap-12 w-full">
            <div>
              <h3 class="text-lg text-white">Hobby</h3>
              <p class="mt-4 text-2xl font-light text-white">
                $0<span class="text-sm text-zinc-400">/month</span>
              </p>
              <p class="mt-3 text-sm text-white">Super for hobbist</p>
            </div>
          </div>
          <div class="inline-flex flex-wrap items-center mt-8 w-full">
            <a
              href="#"
              type="a"
              class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
              Get started
            </a>
          </div>

          <ul
            role="list"
            class="flex flex-col order-last text-sm mt-10 text-zinc-400 divide-y divide-white/10">
            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> Create 10 connections</span>
            </li>

            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> 10 Api connections</span>
            </li>
            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> 1 user</span>
            </li>
          </ul>
        </div>
      </section>
      <section
        class="flex flex-col px-6 py-8 bg-ebony shadow-inset rounded-3xl lg:order-none bg-gradientdown">
        <div class="h-full">
          <div class="gap-12 w-full">
            <div>
              <h3 class="text-lg text-accent-400">
                Almost pro <span
                  class="font-medium inline-flex items-center bg-ebony border border-white/10 ml-4 px-3 py-0.5 rounded-full text-white text-xs"
                  >Popular</span
                >
              </h3>
              <p class="mt-4 text-2xl font-light text-white">
                $44.99<span class="text-sm text-zinc-400">/month</span>
              </p>
              <p class="mt-3 text-sm text-white">
                for startups!
              </p>
            </div>
          </div>
          <div class="inline-flex flex-wrap items-center mt-8 w-full">
            <a
              href="#"
              type="a"
              class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
              Get started
            </a>
          </div>

          <ul
            role="list"
            class="flex flex-col order-last text-sm mt-10 text-white divide-y divide-white/10">
            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> Create 10 connections</span>
            </li>

            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> Connect up to two websites</span>
            </li>
            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> Email marketing</span>
            </li>
            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> 10 Api connections</span>
            </li>
            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> 1 user</span>
            </li>
          </ul>
        </div>
      </section>
      <section
        class="flex flex-col px-6 py-8 bg-ebony shadow-inset rounded-3xl lg:order-none">
        <div class="h-full">
          <div class="gap-12 w-full">
            <div>
              <h3 class="text-lg text-white">Enterprise</h3>
              <p class="mt-4 text-2xl font-light text-white">Custom pricing</p>
              <p class="mt-3 text-sm text-white">For Enterprise users</p>
            </div>
          </div>
          <div class="inline-flex flex-wrap items-center mt-8 w-full">
            <a
              href="#"
              type="a"
              class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
              Get started
            </a>
          </div>

          <ul
            role="list"
            class="flex flex-col order-last text-sm mt-10 text-zinc-400 divide-y divide-white/10">
            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> Create 100 connections</span>
            </li>

            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> Unlimited websites</span>
            </li>
            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> Email marketing</span>
            </li>
            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> 100 Api connections</span>
            </li>
            <li class="inline-flex items-center py-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l5 5l10 -10"></path>
              </svg><span class="ml-4"> Unlimited user</span>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</section>
