{
    "openapi": "3.0.3",
    "info": {
        "title": "Hazel Documentation",
        "description": "Development documentation",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.hazel.sh"
        }
    ],
    "components": {
        "schemas": {
            "Destination": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "workspaceId": {
                        "type": "string"
                    },
                    "publicId": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "key": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "websocket_connection": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "workspaceId",
                    "publicId",
                    "createdAt",
                    "updatedAt",
                    "key",
                    "url",
                    "websocket_connection"
                ]
            },
            "Source": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "workspaceId": {
                        "type": "string"
                    },
                    "publicId": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "key": {
                        "type": "string"
                    },
                    "integrationId": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    }
                },
                "required": [
                    "id",
                    "name",
                    "workspaceId",
                    "publicId",
                    "createdAt",
                    "updatedAt",
                    "key"
                ]
            },
            "Connection": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "workspaceId": {
                        "type": "string"
                    },
                    "publicId": {
                        "type": "string"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "sourceId": {
                        "type": "string"
                    },
                    "destinationId": {
                        "type": "string"
                    },
                    "source": {
                        "$ref": "#/components/schemas/Source"
                    },
                    "destination": {
                        "$ref": "#/components/schemas/Destination"
                    },
                    "delay": {
                        "type": "integer",
                        "format": "int64",
                        "nullable": true
                    },
                    "retryCount": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "retryDelay": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "retryType": {
                        "type": "string",
                        "enum": [
                            "fixed",
                            "anotherType1",
                            "anotherType2"
                        ],
                        "nullable": true
                    },
                    "fluxConfig": {
                        "type": "object"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "workspaceId",
                    "publicId",
                    "enabled",
                    "source",
                    "sourceId",
                    "destination",
                    "destinationId",
                    "createdAt",
                    "updatedAt"
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Connections",
            "description": "Endpoints to manage your Connections"
        }
    ],
    "paths": {
        "/v1/connections/": {
            "get": {
                "operationId": "getV1Connections",
                "tags": [
                    "Connections"
                ],
                "description": "Returns all Connections in your Workspace",
                "responses": {
                    "200": {
                        "description": "A list of Connections",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Connection"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "parameters": [],
                "operationId": "postV1Connections",
                "tags": [
                    "Connections"
                ],
                "description": "Create a new Connection",
                "responses": {
                    "200": {
                        "description": "Details of the Connection",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "sourceId": {
                                            "type": "string"
                                        },
                                        "destinationId": {
                                            "type": "string"
                                        },
                                        "workspaceId": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "name",
                                        "sourceId",
                                        "destinationId",
                                        "workspaceId"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Connection not found"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "minLength": 2,
                                        "maxLength": 3,
                                        "type": "string"
                                    },
                                    "publicSourceId": {
                                        "maxLength": 21,
                                        "minLength": 21,
                                        "type": "string"
                                    },
                                    "publiceDestinationId": {
                                        "maxLength": 21,
                                        "minLength": 21,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name",
                                    "publicSourceId",
                                    "publiceDestinationId"
                                ],
                                "additionalProperties": false
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "minLength": 2,
                                        "maxLength": 3,
                                        "type": "string"
                                    },
                                    "publicSourceId": {
                                        "maxLength": 21,
                                        "minLength": 21,
                                        "type": "string"
                                    },
                                    "publiceDestinationId": {
                                        "maxLength": 21,
                                        "minLength": 21,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name",
                                    "publicSourceId",
                                    "publiceDestinationId"
                                ],
                                "additionalProperties": false
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "minLength": 2,
                                        "maxLength": 3,
                                        "type": "string"
                                    },
                                    "publicSourceId": {
                                        "maxLength": 21,
                                        "minLength": 21,
                                        "type": "string"
                                    },
                                    "publiceDestinationId": {
                                        "maxLength": 21,
                                        "minLength": 21,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name",
                                    "publicSourceId",
                                    "publiceDestinationId"
                                ],
                                "additionalProperties": false
                            }
                        }
                    }
                }
            }
        },
        "/v1/connections/{id}": {
            "get": {
                "operationId": "getV1ConnectionsById",
                "tags": [
                    "Connections"
                ],
                "description": "Get a specific Connection",
                "responses": {
                    "200": {
                        "description": "A Connection",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Connection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Connection not found"
                    }
                },
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "name": "id",
                        "required": true
                    }
                ]
            },
            "put": {
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "name": "id",
                        "required": true
                    }
                ],
                "operationId": "putV1ConnectionsById",
                "tags": [
                    "Connections"
                ],
                "description": "Update a Connection by ID",
                "responses": {
                    "200": {
                        "description": "Connection ID",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "maxLength": 15,
                                        "minLength": 3,
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "additionalProperties": false
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "maxLength": 15,
                                        "minLength": 3,
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "additionalProperties": false
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "maxLength": 15,
                                        "minLength": 3,
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    }
                                },
                                "additionalProperties": false
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteV1ConnectionsById",
                "tags": [
                    "Connections"
                ],
                "description": "Delete a Connection by ID",
                "responses": {
                    "200": {
                        "description": "Delete Connection ID",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "name": "id",
                        "required": true
                    }
                ]
            }
        },
        "/v1/connections/{id}/pause": {
            "put": {
                "operationId": "putV1ConnectionsByIdPause",
                "tags": [
                    "Connections"
                ],
                "description": "Pause a Connection",
                "responses": {
                    "200": {
                        "description": "Paused Connection ID",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "name": "id",
                        "required": true
                    }
                ]
            }
        },
        "/v1/connections/{id}/unpause": {
            "put": {
                "operationId": "putV1ConnectionsByIdUnpause",
                "tags": [
                    "Connections"
                ],
                "description": "Unpause a Connection",
                "responses": {
                    "200": {
                        "description": "Unpaused Connection ID",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "name": "id",
                        "required": true
                    }
                ]
            }
        }
    }
}