<section class="lg:p-8">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:gap-24 items-center">
      <div>
        <span class="text-accent-400"> Comparative Analysis</span>
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Comparative charts <span class="block text-zinc-400"
            >for complex data</span
          >
        </h2>
        <p class="mt-4 text-base text-white">
          Identify trends, spot patterns, and uncover relationships between
          variables with ease. Our comparative charts provide a comprehensive
          view of your data for analysis.
        </p>

        <ul
          role="list"
          class="text-sm text-white mt-4 flex flex-col pt-4 border-t border-white/10">
          <li class="inline-flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-check"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l5 5l10 -10"></path>
            </svg>
            <span class="ml-3">3x Prebuilt landing Pages</span>
          </li>
          <li class="inline-flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-check"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l5 5l10 -10"></path>
            </svg>
            <span class="ml-3">Comprehensive Styleguide</span>
          </li><li class="inline-flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-check"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l5 5l10 -10"></path>
            </svg>
            <span class="ml-3">Prebuilt sections Sections</span>
          </li>
        </ul>
      </div>

      <img class="mt-12 lg:mt-0" src="/images/assets/protractor.svg" alt="#" />
    </div>
  </div>
</section>
