<section class="lg:p-8">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div
      class="relative isolate overflow-hidden bg-gradientdown ring-1 ring-white/10 rounded-4xl px-6 pt-16 shadow-2xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
      <div
        class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
        <span class="text-accent-400"> Main feature</span>
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Advanced charting tools <span class="block text-zinc-400"
            >for in-depth data analysis</span
          >
        </h2>
        <p class="mt-6 text-sm text-white">
          Stay up-to-date with live data charts. Our charts dynamically update
          as new data becomes available, giving you real-time insights into your
          metrics.
        </p>
        <div
          class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
          <a
            href="#"
            class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent"
            >Get started</a
          >
        </div>
      </div>
      <div class="relative mt-16 h-80 lg:mt-8">
        <img
          class="absolute left-0 top-0 w-[57rem] max-w-none shadow-thick opacity-50 border border-white/10 rounded-3xl"
          src="/images/assets/lightcode.svg"
          alt="img"
        />
      </div>
    </div>
  </div>
</section>
