<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-24 items-start">
      <span class="text-accent-400"> Mobile-Friendly Charts</span>
      <h2 class="text-3xl tracking-tighter font-light lg:text-4xl text-white">
        Comparative charts <span class="block text-zinc-400"
          >for complex data.</span
        >
      </h2>
    </div>

    <div x-data x-tabs class="pt-12 border-t border-white/10 mt-12">
      <div
        x-tabs:list
        class="-mb-px flex items-stretch flex-col gap-12"
        role="tablist"
        aria-orientation="horizontal">
        <div class="grid lg:grid-cols-2 gap-24">
          <div class="relative">
            <h3>
              <button
                x-tabs:tab
                type="button"
                :class="$tab.isSelected ? ' text-accent-400' : 'text-zinc-600 '"
                class="inline-flex [&:not(:focus-visible)]:focus:outline-none text-xs"
                ><span class="absolute inset-0"> </span>Visual Storytelling
              </button>
            </h3>
            <p class="mt-2 text-2xl text-white">
              Engaging infographics for <span class="block text-zinc-400"
                >captivating data presentation</span
              >
            </p>
            <p class="mt-4 text-base text-white">
              Transform your data into visually stunning infographics that
              captivate your audience.
            </p>
          </div>

          <div class="relative opacity-75 hover:opacity-100">
            <h3>
              <button
                x-tabs:tab
                type="button"
                :class="$tab.isSelected ? 'text-accent-400 ' : 'text-zinc-600 '"
                class="inline-flex [&:not(:focus-visible)]:focus:outline-none text-xs"
                ><span class="absolute inset-0"> </span>Advanced Analytics</button
              >
            </h3>
            <p class="mt-2 text-2xl text-white">
              Advanced charting tools for <span class="block text-zinc-400"
                >in-depth data analysis</span
              >
            </p>
            <p class="mt-4 text-base text-white">
              Take your data analysis to the next level with our advanced
              charting tools.
            </p>
          </div>
        </div>

        <div
          x-tabs:panels
          class="rounded-b-md lg:px-10 lg:pt-10 lg:bg-ebony shadow-inset lg:rounded-3xl hidden lg:block">
          <section x-tabs:panel>
            <div
              class="px-5 transition duration-500 ease-in-out [&:not(:focus-visible)]:focus:outline-none"
              style="transform: tranzincX(0%);"
              aria-hidden="false"
              role="tabpanel"
              tabindex="0">
              <div class="w-full overflow-hidden">
                <img
                  alt=""
                  src="/images/assets/lightKeyboard.svg"
                  class="w-full opacity-50 -mb-24"
                />
              </div>
            </div>
          </section>

          <section x-tabs:panel>
            <div
              class="px-5 transition duration-500 ease-in-out [&:not(:focus-visible)]:focus:outline-none"
              style="transform: tranzincX(0%);"
              aria-hidden="false"
              role="tabpanel"
              tabindex="0">
              <div class="w-full overflow-hidden">
                <img
                  alt=""
                  src="/images/assets/darkKeyboard.svg"
                  class="w-full opacity-50 -mb-24"
                />
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
