<section class="lg:p-8">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="lg:text-center max-w-2xl lg:mx-auto">
      <span class="text-accent-400"> Comparative Analysis</span>
      <h2
        class="text-3xl tracking-tighter mt-6 font-light lg:text-4xl text-white">
        Live data charts for <span class="md:block text-zinc-400">
          up-to-the-minute insights</span
        >
      </h2>
      <p class="mt-5 text-white max-w-md mx-auto">
        Tell a compelling story with our engaging infographic charts. Transform
        your data into visually stunning infographics that captivate your
        audience.
      </p>
    </div>
    <div
      class="relative isolate overflow-hidden bg-gradientdown ring-1 ring-white/10 rounded-4xl px-6 pt-16 mt-12 shadow-2xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
      <div
        class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
        <span class="text-accent-400"> Main feature</span>
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Advanced charting tools <span class="md:block text-zinc-400"
            >for in-depth data analysis</span
          >
        </h2>
        <p class="mt-6 text-sm text-white">
          Stay up-to-date with live data charts. Our charts dynamically update
          as new data becomes available, giving you real-time insights into your
          metrics.
        </p>
      </div>
      <div class="relative mt-16 h-80 lg:mt-8">
        <img
          class="absolute left-0 top-0 w-[57rem] max-w-none opacity-50 border border-white/10 rounded-3xl"
          src="/images/assets/darkcode.svg"
          alt="img"
        />
      </div>
    </div>

    <div class="mt-12">
      <div class="mx-auto lg:max-w-7xl">
        <div>
          <dl
            class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:space-y-0 lg:gap-24">
            <div>
              <dt class="inline-flex items-center gap-3">
                <div class="flex items-center justify-center text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-key"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="8" cy="15" r="4"></circle>
                    <line x1="10.85" y1="12.15" x2="19" y2="4"></line>
                    <line x1="18" y1="5" x2="20" y2="7"></line>
                    <line x1="15" y1="8" x2="17" y2="10"></line>
                  </svg>
                </div>
                <p class="text-base font-medium leading-6 text-white">
                  Advanced Analytics
                </p>
              </dt>
              <dd class="mt-4 text-sm text-white">
                Take your data analysis to the next level with our advanced
                tools.
              </dd>
            </div>
            <div>
              <dt class="inline-flex items-center gap-3">
                <div class="flex items-center justify-center text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-cloud"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-12">
                    </path>
                  </svg>
                </div>
                <p class="text-base font-medium leading-6 text-white">
                  Visual Storytelling
                </p>
              </dt>
              <dd class="mt-4 text-sm text-white">
                Transform your data into visually stunning infographics that
                captivate your audience.
              </dd>
            </div>
            <div>
              <dt class="inline-flex items-center gap-3">
                <div class="flex items-center justify-center text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-credit-card"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect x="3" y="5" width="18" height="14" rx="3"></rect>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                    <line x1="7" y1="15" x2="7.01" y2="15"></line>
                    <line x1="11" y1="15" x2="13" y2="15"></line>
                  </svg>
                </div>
                <p class="text-base font-medium leading-6 text-white">
                  Mobile-Friendly Charts
                </p>
              </dt>
              <dd class="mt-4 text-sm text-white">
                Our charts are optimized for mobile devices, providing a
                seamless viewing experience across screens.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
