<section>
  <div
    class="relative items-center w-xl px-8 my-12 lg:my-24 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="lg:text-center max-w-3xl lg:mx-auto">
      <h1
        class="text-5xl font-semibold leading-none text-white lg:mx-auto lg:text-center">
        The most recent pixels
      </h1>
      <p
        class="mt-5 text-xl font-light tracking-widest text-white/80 text-left lg:text-center">
        Here you can see some of the latest landing pages and sites that I have
        worked on, from a UI Kit and web tools to a complete VS code theme.
      </p>
    </div>

    <div
      class="h-[50vh] bg-center bg-cover mt-12 rounded-xl shadow-superThick"
      style="background-image: url('./images/screens.png')">
    </div>
  </div>
</section>
