<section class="lg:p-8">
  <div
    class="px-8 py-12 lg:py-24 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div
      class="relative isolate lg:flex-col overflow-hidden bg-gradientdown ring-1 ring-white/10 rounded-4xl px-6 p-10 lg:flex lg:p-20">
      <div>
        <span class="text-white"> Support</span>
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Get answers <span class="md:block text-zinc-400">
            to your questions.</span
          >
        </h2>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3 mt-12">
        <li class="bg-ebony shadow-inset rounded-3xl p-4">
          <figure class="flex flex-col justify-between h-full">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check text-white"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="font-medium leading-6 text-white mt-24">
                Knowledge Base
              </p>
              <p class="text-xs mt-2 text-zinc-300">
                Find solutions to commonly asked questions, browse instructional
                materials, and explore resources for resolving issues.
              </p>
            </div>
            <div class="mt-6">
              <a
                href="/helpcenter/knowledge-base"
                class="text-sm hover:text-accent-200 text-white"
                >Search your topic <span aria-hidden="true">→</span></a
              >
            </div>
          </figure>
        </li>

        <li class="bg-ebony shadow-inset rounded-3xl p-4">
          <figure class="flex flex-col justify-between h-full">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check text-white"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="font-medium leading-6 text-white mt-24">
                Your Support Tickets
              </p>
              <p class="text-xs mt-2 text-zinc-300">
                Monitor the progress of all the support tickets you have
                submitted.
              </p>
            </div>
            <div class="mt-6">
              <a
                href="/helpcenter/status"
                class="text-sm hover:text-accent-200 text-white"
                >View all tickets <span aria-hidden="true">→</span></a
              >
            </div>
          </figure>
        </li>
        <li class="bg-ebony shadow-inset rounded-3xl p-4">
          <figure class="flex flex-col justify-between h-full">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check text-white"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="font-medium leading-6 text-white mt-24">
                Contact Support
              </p>
              <p class="text-xs mt-2 text-zinc-300">
                Reach out to us directly to receive answers tailored to your
                specific inquiries.
              </p>
            </div>
            <div class="mt-6">
              <a
                href="/forms/contact"
                class="text-sm hover:text-accent-200 text-white"
                >Learn more <span aria-hidden="true">→</span></a
              >
            </div>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</section>
