<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:py-40 relative w-full bg-gradientdown rounded-[3rem]">
    <div class="max-w-xl mx-auto">
      <div>
        <span
          class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10">
          support
        </span>
        <h1
          class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-white">
          Knowledge Base
        </h1>
        <div class="mt-24">
          <span
            class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white"
            >SDK/Config</span
          >
        </div>
        <ul
          role="list"
          class="divide-y divide-white/20 text-white pt-6 border-t border-white/10 mt-6">
          <li class="py-4">
            <a
              href="/helpcenter/topic"
              class="text-white hover:text-white/50 duration-200">
              Misunderstandings commonly associated with the architecture of
              Buio
            </a>
          </li>

          <li class="py-4">
            <a
              href="/helpcenter/topic"
              class="text-white hover:text-white/50 duration-200">
              Enhancing implementation to ensure resilience in the face of
              network failures
            </a>
          </li>
          <li class="py-4">
            <a
              href="/helpcenter/topic"
              class="text-white hover:text-white/50 duration-200"
              >A checklist for troubleshooting network issues</a
            >
          </li>
          <li class="py-4">
            <a
              href="/helpcenter/topic"
              class="text-white hover:text-white/50 duration-200">
              Browser privacy settings obstruct the transmission of analytic
              events to Buio
            </a>
          </li>
          <li class="py-4">
            <a
              href="/helpcenter/topic"
              class="text-white hover:text-white/50 duration-200"
              >Encountering the error "BuioFlagFetchError: network error"</a
            >
          </li>
          <li class="py-4">
            <a
              href="/helpcenter/topic"
              class="text-white hover:text-white/50 duration-200"
              >The event "ldclient.on('ready')" fails to trigger</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
