<section class="lg:p-8 bg-white">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:py-40 relative w-full">
    <div class="max-w-xl mx-auto">
      <div>
        <span
          class="relative rounded-full inline-flex items-center gap-x-1.5 px-3 py-1 text-sm leading-6 text-black ring-1 ring-black/10">
          <svg
            class="h-1.5 w-1.5 fill-green-500 animate-pulse"
            viewBox="0 0 6 6"
            aria-hidden="true">
            <circle cx="3" cy="3" r="3"></circle>
          </svg>
          All systems operational
        </span>
        <h1
          class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-black">
          Buio's Status page
        </h1>
        <p class="mt-4 text-sm text-black">
          Our platform is continuously monitored for outages, slowdowns, or
          other issues. Should there be any interruptions in service, we'll
          provide status updates here.
        </p>
        <p class="mt-4 text-sm text-black">
          Live updates enabled <span class="block text-zinc-400"
            >Last checked 22:18:51 BST</span
          >
        </p>

        <ul
          role="list"
          class="divide-y divide-black/20 mt-12 border-b border-t border-white/20">
          <li class="flex items-center justify-between space-x-3 py-4">
            <span
              class="relative inline-flex items-center gap-x-1.5 text-sm leading-6 text-zinc-500">
              <svg
                class="h-1.5 w-1.5 fill-green-500 animate-pulse"
                viewBox="0 0 6 6"
                aria-hidden="true">
                <circle cx="3" cy="3" r="3"></circle>
              </svg>
              Admin Console
            </span>
            <p class="flex-shrink-0 text-sm text-black">Operational</p>
          </li>
          <li class="flex items-center justify-between space-x-3 py-4">
            <span
              class="relative inline-flex items-center gap-x-1.5 text-sm leading-6 text-zinc-500">
              <svg
                class="h-1.5 w-1.5 fill-green-500 animate-pulse"
                viewBox="0 0 6 6"
                aria-hidden="true">
                <circle cx="3" cy="3" r="3"></circle>
              </svg>
              API
            </span>
            <p class="flex-shrink-0 text-sm text-black">Operational</p>
          </li>
          <li class="flex items-center justify-between space-x-3 py-4">
            <span
              class="relative inline-flex items-center gap-x-1.5 text-sm leading-6 text-zinc-500">
              <svg
                class="h-1.5 w-1.5 fill-green-500 animate-pulse"
                viewBox="0 0 6 6"
                aria-hidden="true">
                <circle cx="3" cy="3" r="3"></circle>
              </svg>
              Data & Analytics
            </span>
            <p class="flex-shrink-0 text-sm text-black">Operational</p>
          </li>
          <li class="flex items-center justify-between space-x-3 py-4">
            <span
              class="relative inline-flex items-center gap-x-1.5 text-sm leading-6 text-zinc-500">
              <svg
                class="h-1.5 w-1.5 fill-green-500 animate-pulse"
                viewBox="0 0 6 6"
                aria-hidden="true">
                <circle cx="3" cy="3" r="3"></circle>
              </svg>
              3rd Party Integrations
            </span>
            <p class="flex-shrink-0 text-sm text-black">Operational</p>
          </li>
          <li class="flex items-center justify-between space-x-3 py-4">
            <span
              class="relative inline-flex items-center gap-x-1.5 text-sm leading-6 text-zinc-500">
              <svg
                class="h-1.5 w-1.5 fill-red-500 animate-pulse"
                viewBox="0 0 6 6"
                aria-hidden="true">
                <circle cx="3" cy="3" r="3"></circle>
              </svg>
              Hosted Pages
            </span>
            <p class="flex-shrink-0 text-sm text-black">Down</p>
          </li>
          <li class="flex items-center justify-between space-x-3 py-4">
            <span
              class="relative inline-flex items-center gap-x-1.5 text-sm leading-6 text-zinc-500">
              <svg
                class="h-1.5 w-1.5 fill-yellow-500 animate-pulse"
                viewBox="0 0 6 6"
                aria-hidden="true">
                <circle cx="3" cy="3" r="3"></circle>
              </svg>
              Payment Gateways
            </span>
            <p class="flex-shrink-0 text-sm text-black">Low signal</p>
          </li>
          <li class="flex items-center justify-between space-x-3 py-4">
            <span
              class="relative inline-flex items-center gap-x-1.5 text-sm leading-6 text-zinc-500">
              <svg
                class="h-1.5 w-1.5 fill-green-500 animate-pulse"
                viewBox="0 0 6 6"
                aria-hidden="true">
                <circle cx="3" cy="3" r="3"></circle>
              </svg>
              Payment Methods
            </span>
            <p class="flex-shrink-0 text-sm text-black">Operational</p>
          </li>
        </ul>
        <div class="mt-24 space-y-24 w-full">
          <div>
            <span class="text-3xl mt-6 tracking-tighter font-light text-black"
              >Past Incidents
            </span>
            <ul role="list" class="divide-y text-black pt-6 border-t mt-6">
              <li class="py-4">
                <span class="text-zinc-500 block">
                  No incidents reported today.
                </span>
              </li>
            </ul>
          </div>
          <div>
            <span class="text-3xl mt-6 tracking-tighter font-light text-black"
              >May 17, 2023 ⏤ Scheduled Maintenance
            </span>
            <ul role="list" class="divide-y text-black pt-6 border-t mt-6">
              <li class="py-4">
                <span class="text-zinc-500 block">
                  <strong class="text-black">Completed</strong> ⏤ The scheduled maintenance
                  has been completed.
                </span>
                <span
                  ><time class="block text-zinc-400 text-xs mt-2">
                    May 17, 23:00 PDT</time
                  ></span
                >
              </li>
              <li class="py-4">
                <span class="text-zinc-500 block">
                  <strong class="text-black">In progress</strong> ⏤ Scheduled maintenance
                  is currently in progress. We will provide updates as necessary.
                </span>
                <span
                  ><time class="block text-zinc-400 text-xs mt-2">
                    May 17, 22:00 PDT
                  </time></span
                >
              </li>
              <li class="py-4">
                <span class="text-zinc-500 block">
                  <strong class="text-black">Scheduled</strong> ⏤ Recurly will be
                  performing maintenance on our backend systems. Users may experience
                  delays in Admin console Activity feed.
                </span>
                <span
                  ><time class="block text-zinc-400 text-xs mt-2">
                    May 11, 10:04 PDT
                  </time></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
