<section class="lg:p-8">
  <div
    class="px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="text-center mx-auto max-w-3xl">
      <span class="text-accent-400"> Bug bounty program</span>
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-white">
        Welcome to our <span class="block text-zinc-400"
          >Bug Bounty Program!</span
        >
      </h2>
    </div>

    <div>
      <div
        class="mx-auto max-w-[40rem] mt-24 prose-sm prose text-zinc-400 prose-headings:text-white prose-a:font-semibold prose-a:text-accent-400 hover:prose-a:text-white prose-headings:font-medium">
        <h1>Buio Bug Bounty Program</h1>
        <p>
          We acknowledge the crucial role that security researchers and our user
          community play in ensuring the security of Buio and our users. If you
          have discovered a vulnerability in our site or product, you may be
          eligible for a monetary reward based on the terms and conditions of
          our Bug Bounty Program.
        </p>
        <p>
          Please submit your bug reports to <a href="mailto:bugbounty@buio.com"
            >bugbounty@buio.com</a
          >.
        </p>
        <h2>Rewards</h2>
        <p>
          We strive to reward valid reports within 30 days of acceptance, often
          sooner. Bounty rewards will be calculated according to CVSS 3.1
          standards where applicable. For our program, we refer to the official
          CVSS 3.1 reference at <a
            href="https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator"
            >https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator</a
          >. At our discretion as program owners, certain report types may not
          receive rewards based on the CVSS 3.1 score. Such reports will either
          receive a fixed amount reward or will be evaluated on a case-by-case
          basis. Further details can be found in our official document.
        </p>
        <h2>Rules</h2>
        <p>
          Any activities conducted in accordance with this policy will be
          considered authorized conduct, and we will not take legal action
          against you. If a third party initiates legal action against you in
          connection with activities carried out in compliance with this policy,
          we will acknowledge that your actions were in accordance with this
          policy. Buio reserves all legal rights in the event of noncompliance
          with this policy.
        </p>
        <h2>Eligibility</h2>
        <ul>
          <li>
            Be at least 16 years of age. If you are 16 years old but considered
            a minor in your place of residence, you must obtain permission from
            your parent or legal guardian before participating in the program.
          </li>
          <li>
            Must not be employed by Buio or any of its affiliates, or an
            immediate family member of an employee at Buio or any of its
            affiliates.
          </li>
          <li>
            Must not be a resident of, or make submissions from, a country
            against which the United States has imposed export sanctions or
            other trade restrictions, and must not be an embargoed or restricted
            person.
          </li>
          <li>
            Must not violate any national, state, or local laws or regulations
            related to any activities directly or indirectly associated with the
            program.
          </li>
        </ul>
        <h2>The DOs</h2>
        <ul>
          <li>Abide by the Program Terms.</li>
          <li>
            Respect privacy and make a good faith effort not to access, process,
            or destroy personal data.
          </li>
          <li>
            Be patient and provide clarifications in good faith to any questions
            we may have about your report.
          </li>
          <li>Interact respectfully with our team, and we will reciprocate.</li>
          <li>Conduct testing only using your own personal/test accounts.</li>
          <li>
            Exercise caution during testing to avoid any negative impact on
            customers or the services they rely on.
          </li>
          <li>
            Stop testing whenever unsure. If you believe testing a vulnerability
            may cause or has caused damage, report your initial findings and
            request authorization to continue testing.
          </li>
        </ul>
        <h2>The DO NOTs</h2>
        <ul>
          <li>
            Leave any system in a more vulnerable state than you found it.
          </li>
          <li>
            Engage in brute force or guess credentials to gain unauthorized
            access to systems.
          </li>
          <li>Participate in denial of service attacks.</li>
          <li>Upload shells or create any type of backdoor.</li>
          <li>
            Publicly disclose a vulnerability without our explicit review and
            consent.
          </li>
          <li>
            Engage in any form of social engineering targeting Buio employees,
            customers, affiliates, or partners.
          </li>
          <li>
            Attempt to extract, download, or exfiltrate data that may contain
            Personal Identifiable Information or other sensitive data, unless it
            belongs to you.
          </li>
          <li>
            Change passwords of any account that does not belong to you or for
            which you do not have explicit permission to change. If prompted to
            change the password for an account you did not create or were not
            authorized to use, immediately stop and report your findings.
          </li>
          <li>
            Engage in activities that violate privacy, cause data destruction,
            or disrupt our services.
          </li>
          <li>Interact with accounts that you do not own.</li>
        </ul>
        <h2>Out of Scope</h2>
        <p>
          The following activities are considered out of scope for our Bug
          Bounty Program:
        </p>
        <ul>
          <li>
            Physical or social engineering attempts, including phishing attacks
            against Buio employees.
          </li>
          <li>
            Ability to send push notifications/SMS messages/emails without the
            ability to change content.
          </li>
          <li>
            Ability to take over social media pages (Twitter, Facebook,
            LinkedIn, etc.).
          </li>
          <li>Reports with negligible security impact.</li>
          <li>Unchained open redirects.</li>
          <li>
            Reports stating that software is out of date or vulnerable without
            providing a proof-of-concept.
          </li>
          <li>Highly speculative reports about theoretical damage.</li>
          <li>
            Vulnerabilities reported by automated tools without additional
            analysis demonstrating their impact.
          </li>
          <li>
            Reports from automated web vulnerability scanners (Acunetix, Vega,
            etc.) that have not been validated.
          </li>
          <li>SSL/TLS scan reports (e.g., output from SSL Labs).</li>
          <li>
            Open ports without an accompanying proof-of-concept demonstrating
            vulnerability.
          </li>
          <li>CSV injection.</li>
          <li>Best practices concerns.</li>
          <li>Protocol mismatch.</li>
          <li>Rate limiting.</li>
          <li>Dangling IPs.</li>
          <li>
            Vulnerabilities that cannot be used to exploit other users or Buio,
            such as self-xss or executing JavaScript in the browser console.
          </li>
          <li>Missing cookie flags on non-authentication cookies.</li>
          <li>
            Reports that only affect outdated user agents. Exploits are only
            considered in the latest browser versions for Safari, Firefox,
            Chrome, Edge, and IE.
          </li>
          <li>
            Issues requiring physical access to a victim's computer or device.
          </li>
          <li>Path disclosure.</li>
          <li>
            Banner grabbing issues (determining the web server used, etc.).
          </li>
          <li>
            If a site is complying with the privacy policy, there is no
            vulnerability.
          </li>
          <li>Enumeration/account oracles.</li>
          <li>
            Account oracles - the ability to submit a phone number, email, UUID,
            and receive a message indicating the existence of a Buio account.
          </li>
          <li>Distributed denial of service attacks (DDoS).</li>
        </ul>
        <h2>Details</h2>
        <p>
          When you are ready to make a submission, please ensure that you have
          thoroughly read our Bug Bounty Program Policy and then email us at <a
            href="mailto:bugbounty@buio.com">bugbounty@buio.com</a
          >.
        </p>
      </div>
    </div>
  </div>
</section>
