<section class="lg:p-8">
  <div
    class="px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="relative text-center mx-auto max-w-3xl">
      <span
        class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10">
        Changelog
      </span>

      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-white">
        Follow our journey <span class="block text-zinc-400"
          >and keep track of us.</span
        >
      </h2>
      <p class="mt-4 text-white">Last updated on January 01, 2023</p>
    </div>

    <div
      class="mx-auto max-w-[40rem] mt-24 prose-sm prose text-zinc-400 prose-headings:text-white prose-a:no-underline prose-a:text-accent-400 hover:prose-a:text-white">
      <section
        id="2023-03-16"
        aria-labelledby="2023-03-16-heading"
        class="md:flex">
        <h2
          id="2023-03-16-heading"
          class="pl-7 md:w-1/4 md:pl-0 md:pr-12 md:text-right">
          <a href="#2023-03-16">March 16, 2023</a>
        </h2>
        <div class="relative pt-2 pl-7 md:w-3/4 md:pt-0 md:pl-12 pb-16">
          <div
            class="absolute bottom-0 left-0 w-px bg-white/20 -top-3 md:top-2.5">
          </div>
          <div
            class="absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full border-2 border-white/10 bg-black md:top-[0.4375rem]">
          </div>
          <div>
            <h3>New Lexington UI Kits</h3>
            <p>
              Today I am super escited to present my new big project
              <a href="https://lexingtonthemes.com/"> Lexington</a>,Free and
              premium UI Kits built with Astro.jd and Tailwind CSS
            </p>

            <a href="https://lexingtonthemes.com">
              <img
                class="rounded-2xl"
                src="https://cdn.dribbble.com/userupload/3226492/file/original-0e19b6c6ee325db2802954463be1d59d.png?compress=1&resize=1504x1128"
                alt="#"
              />
            </a>
          </div>
        </div>
      </section>
      <section
        id="2023-01-01"
        aria-labelledby="2023-01-01-heading"
        class="md:flex">
        <h2
          id="2023-01-01-heading"
          class="pl-7 md:w-1/4 md:pl-0 md:pr-12 md:text-right">
          <a href="#22023-01-01">January 01, 2023</a>
        </h2>
        <div class="relative pt-2 pl-7 md:w-3/4 md:pt-0 md:pl-12 pb-16">
          <div
            class="absolute bottom-0 left-0 w-px bg-white/20 -top-3 md:top-2.5">
          </div>
          <div
            class="absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full border-2 border-white/10 bg-black md:top-[0.4375rem]">
          </div>
          <div>
            <h3>Creates new repo</h3>
            <p>
              Evening, Doctor Brown, what's with the wire? Welcome to my latest
              experiment. It's the one I've been waiting for all my life. Ah,
              honey, your first novel. Where were we. That ain't no airplane,
              look.
            </p>
            <p>
              Can't be. This is nuts. Aw, c'mon. Yeah, well, I still don't
              understand what Dad was doing in the middle of the street. Marty,
              you're acting like you haven't seen me in a week. Lorenzo,
              where're you keys? You got a real attitude problem, McFly. You're
              a slacker. You remind me of you father when he went her, he was a
              slacker too.
            </p>
            <ul>
              <li>
                Access: You may request from us access to your data that we hold
                on you.

                <p></p> li
              </li>
              <li>
                Rectification: If the data we hold on you is inaccurate, you may
                request that we correct it. If the data we hold is incomplete,
                you may request that we complete it.
              </li>
              <li>
                Erasure: Subject to certain conditions, you may request that we
                erase all of the data we hold on you. li Restrictions: Subject
                to certain conditions, you may request that we restrict the
                processing of data we hold on you.
              </li>

              <li>
                Portability: Subject to certain conditions, you may request that
                we transfer all the data we hold on you to a third party
                (including yourself).
              </li>
              <li>
                Objections: Subject to certain conditions, you may object to us
                processing the data we hold on you.
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!--- Add another date -->
    </div>
  </div>
</section>
