<section class="p-8 overflow-hidden">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 lg:py-40 items-center w-full bg-white rounded-2xl lg:rounded-[3rem]">
    <div
      class="relative md:flex-none sm:justify-center flex items-center justify-center">
      <div class="w-full max-w-md md:max-w-sm mx-auto">
        <div class="flex flex-col">
          <div class="border-b pb-12">
            <h1
              class="text-3xl py-3 tracking-tighter font-light lg:text-6xl text-black">
              Error 404
            </h1>
            <p class="mt-2 text-sm text-black">
              Oh no! It seems like you've stumbled upon uncharted territory. The
              page you're looking for has gone missing, but fear not, we're here
              to assist you.
            </p>
            <p class="mt-2 text-sm text-zinc-500">
              Our team of digital explorers is on the case, working diligently
              to bring back what was lost. In the meantime, feel free to
              navigate through our other captivating pages or contact our
              support team for further assistance. Stay curious and keep
              exploring!
            </p>
          </div>
          <div class="inline-flex flex-wrap items-center mt-8">
            <a
              href="/"
              type="a"
              class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-zinc-100 bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-black w-full inline-flex items-center justify-center ring-1 ring-transparent">
              &larr; &nbsp; Explore all pages
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
