<section>
  <div class="py-[5.75rem]">
    <div class="px-8 sm:px-6 lg:px-8">
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1 class="text-4xl font-bold text-white sm:text-5xl">FAQ</h1>
        <p class="mt-4 text-base leading-7 text-zinc-600">
          Frequent Questions & Answers
        </p>
      </div>
    </div>
    <div class="relative px-8 sm:px-6 lg:px-8">
      <div
        class="mx-auto max-w-[40rem] prose-sm prose text-zinc-400 prose-headings:text-white prose-a:font-semibold prose-a:text-sky-300 hover:prose-a:text-white">
        <h3>Can we create charts and share them?</h3>
        <p>
          Sure, go ahead and share as many charts as you need to share. As long
          as you are happy, we are happy.
        </p>
        <h3>Can I top up my account?</h3>
        <p>Sure, we love money, bring it on baby.</p>
        <h3>Do your charts work for real?</h3>
        <p>Sure, you saw the placeholder images...</p>
        <h3>Do I need apply for the APIs?</h3>
        <p>
          Well, unless you want to get sued we recommend you go ahead and apply
          Jhonny.
        </p>
        <h3>What do you mean with unlimited users?</h3>
        <p>
          Well, unlimited means unlimted, bring your team, family, neighbors and
          you name it.
        </p>
        <h3>What do you mean with unlimited users?</h3>
        <p>
          In that case, you will have to go with the compentece, we are very
          proud of our charts.
        </p>
        <h3>Can we create charts and share them?</h3>
        <p>
          Sure, go ahead and share as many charts as you need to share. As long
          as you are happy, we are happy.
        </p>
        <h3>Can I top up my account?</h3>
        <p>Sure, we love money, bring it on baby.</p>
        <h3>Do your charts work for real?</h3>
        <p>Sure, you saw the placeholder images...</p>
        <h3>Do I need apply for the APIs?</h3>
        <p>
          Well, unless you want to get sued we recommend you go ahead and apply
          Jhonny.
        </p>
        <h3>What do you mean with unlimited users?</h3>
        <p>
          Well, unlimited means unlimted, bring your team, family, neighbors and
          you name it.
        </p>
        <h3>What do you mean with unlimited users?</h3>
        <p>
          In that case, you will have to go with the compentece, we are very
          proud of our charts.
        </p>
      </div>
    </div>
  </div>
</section>
