<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full">
    <div class="max-w-xl mx-auto text-center">
      <span class="text-accent-400"> FAQ</span>
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
        The answers to your <span class="block text-zinc-400"
          >Frequent questions and answers</span
        >
      </h2>
    </div>
    <div class="mt-8 sm:bg-ebony sm:shadow-inset sm:p-20 sm:rounded-[3rem]">
      <dl class="divide-y divide-white/10">
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium leading-6 text-white md:col-span-5">
            Can we create charts and share them?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-sm text-white">
              Sure, go ahead and share as many charts as you need to share. As
              long as you are happy, we are happy.
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium leading-6 text-white md:col-span-5">
            Can I top up my account?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-sm text-white">
              Sure, we love money, bring it on baby.
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium leading-6 text-white md:col-span-5">
            Do your charts work for real?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-sm text-white">
              Sure, you saw the placeholder images...
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium leading-6 text-white md:col-span-5">
            Do I need apply for the APIs?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-sm text-white">
              Well, unless you want to get sued we recommend you go ahead and
              apply Jhonny.
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium leading-6 text-white md:col-span-5">
            Can Buio pay for my rent this month?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-sm text-white">
              Unless you ceate a superb product and use the template,...
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium leading-6 text-white md:col-span-5">
            What do you mean with unlimited users?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-sm text-white">
              Well, unlimited means unlimted, bring your team, family, neighbors
              and you name it.
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium leading-6 text-white md:col-span-5">
            What do you mean with unlimited users?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-sm text-white">
              In that case, you will have to go with the compentece, we are very
              proud of our charts.
            </p>
          </dd>
        </div>
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium leading-6 text-white md:col-span-5">
            Is hosting included?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-sm text-white">
              What has hosting to do with charts? Any ways, yes it is.
            </p>
          </dd>
        </div>

        <!--Add more questions here unless you don't give a FAQ ... -->
      </dl>
    </div>
  </div>
</section>
