<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full">
    <div class="max-w-xl mx-auto">
      <span class="text-accent-400"> FAQ</span>
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
        The answers to your <span class="block text-zinc-400"
          >Frequent questions and answers</span
        >
      </h2>
      <p class="mt-5 text-white">
        If you can’t find what you’re looking for, email our support team and if
        you’re lucky someone will get back to you.
      </p>

      <ul
        role="list"
        class="grid grid-cols1 mt-24 divide-y border-y border-white/10 divide-white/10">
        <li class="py-6">
          <div>
            <p class="text-base font-medium leading-6 text-white">
              Can we create charts and share them?
            </p>
          </div>
          <div class="mt-4 text-sm text-white">
            Sure, go ahead and share as many charts as you need to share. As
            long as you are happy, we are happy.
          </div>
        </li>
        <li class="py-6">
          <div>
            <p class="text-base font-medium leading-6 text-white">
              Can I top up my account?
            </p>
          </div>
          <div class="mt-4 text-sm text-white">
            Sure, we love money, bring it on baby.
          </div>
        </li>
        <li class="py-6">
          <div>
            <p class="text-base font-medium leading-6 text-white">
              Do your charts work for real?
            </p>
          </div>
          <div class="mt-4 text-sm text-white">
            Sure, you saw the placeholder images...
          </div>
        </li>
        <li class="py-6">
          <div>
            <p class="text-base font-medium leading-6 text-white">
              Do I need apply for the APIs?
            </p>
          </div>
          <div class="mt-4 text-sm text-white">
            Well, unless you want to get sued we recommend you go ahead and
            apply Jhonny.
          </div>
        </li>
        <li class="py-6">
          <div>
            <p class="text-base font-medium leading-6 text-white">
              What do you mean with unlimited users?
            </p>
          </div>
          <div class="mt-4 text-sm text-white">
            Well, unlimited means unlimted, bring your team, family, neighbors
            and you name it.
          </div>
        </li>
        <li class="py-6">
          <div>
            <p class="text-base font-medium leading-6 text-white">
              What do you mean with unlimited users?
            </p>
          </div>
          <div class="mt-4 text-sm text-white">
            In that case, you will have to go with the compentece, we are very
            proud of our charts.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
