<section class="lg:p-8">
  <div
    class="px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="text-center mx-auto max-w-3xl">
      <span class="text-accent-400"> Usage</span>
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-white">
        Fair use
      </h2>
    </div>

    <div>
      <div
        class="mx-auto max-w-[40rem] mt-24 prose-sm prose text-zinc-400 prose-headings:text-white prose-a:font-semibold prose-a:text-accent-400 hover:prose-a:text-white prose-headings:font-medium">
        <h1>Buio Fair Use Policy</h1>
        <p>
          All deployments and plugins hosted on Buio operate under the fair use
          policy. Users are expected to comply with the following guidelines:
        </p>
        <h2>Allowed</h2>
        <ul>
          <li>Websites</li>
          <li>APIs + Backends</li>
          <li>Cron Jobs / Scheduled Jobs</li>
          <li>ML Jobs</li>
          <li>Code Servers</li>
        </ul>
        <h2>Not Allowed</h2>
        <ul>
          <li>Mirrors/Userbots</li>
          <li>Torrent Aggregators</li>
          <li>Crypto Miners</li>
          <li>Hosting/Distribution of DMCA protected content</li>
          <li>Music Bots</li>
          <li>VNCs/Virtual desktops</li>
          <li>Multi-accounting</li>
          <li>Sending Spam</li>
          <li>Anything Illegal</li>
        </ul>
        <p>
          We strictly prohibit any illegal activity on the platform. If an
          activity is deemed illegal, we reserve the right to take appropriate
          action, including terminating the service. We expect our users to use
          the platform responsibly and refrain from engaging in activities that
          would violate our fair use policy.
        </p>
        <p>
          If we identify that a user is using multiple accounts to circumvent
          the free limit, we retain the right to terminate the service.
        </p>
      </div>
    </div>
  </div>
</section>
