<div class="relative isolate overflow-hidden lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:py-32 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full rounded-[3rem] lg:bg-gradientup lg:rounded-[3rem] lg:flex">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0">
      <div class="text-center md:text-left max-w-md">
        <span
          class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10">
          Comparative Analysis</span
        >
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Comparative charts <span class="block text-zinc-300">
            for complex data</span
          >
        </h2>
        <p class="mt-4 text-base text-white">
          Make informed decisions with our comparative analysis charts. Compare
          multiple data sets side by side using our intuitive charts.
        </p>
        <p class="mt-4 text-base text-zinc-400">
          Identify trends, spot patterns, and uncover relationships between
          variables with ease. Our comparative charts provide a comprehensive
          view of your data for analysis.
        </p>
        <div
          class="mt-10 flex items-center gap-x-6 justify-center md:justify-start">
          <a
            href="/"
            class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent"
            >See all pages</a
          >
          <a href="/" class="text-sm hover:text-accent-200 text-white"
            >Learn more <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <div>
          <img
            src="/images/assets/darkKeyboard.svg"
            alt="App screenshot"
            width="2432"
            height="1442"
            class="w-[76rem]"
          />
        </div>
      </div>
    </div>
  </div>
</div>
