<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:py-24 relative w-full lg:bg-gradientup lg:rounded-[3rem]">
    <div class="lg:text-center max-w-xl lg:mx-auto">
      <span
        class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10">
        Interactive Data Visualization</span
      >
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-white">
        Dynamic charts with <span class="block text-zinc-400"
          >interactive capabilities</span
        >
      </h2>
      <p class="mt-4 text-base text-white">
        Make informed decisions with our comparative analysis charts. Compare
        multiple data sets side by side using our intuitive charts.
      </p>
    </div>
  </div>
</section>
