<section class="lg:p-8 overflow-hidden relative">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:py-48 relative w-full bg-gradientdown rounded-[3rem]">
    <div class="max-w-2xl text-center mx-auto">
      <span
        class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10">
        find something</span
      >
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-white">
        Open positions
      </h2>
    </div>
    <div
      class="divide-y divide-white/10 max-w-3xl mx-auto border-y border-white/10 mt-12">
      <div
        class="py-8 grid gap-4 grid-cols-2 mx-auto justify-between items-center">
        <div>
          <p class="text-xs font-semibold leading-6 text-zinc-400">
            Flabber Studios
          </p>
          <p class="font-semibold leading-6 text-white">Rectangle Maker</p>

          <p class="flex items-center text-xs leading-6 text-zinc-300">
            Remote
          </p>
        </div>
        <div class="ml-auto">
          <div
            class="flex items-start flex-col text-xs leading-6 text-zinc-400">
            <a
              href="/carriers/carrier-application"
              class="bg-white/5 hover:bg-white/10 focus:bg-transparent rounded-2xl inline-flex items-center text-center text-white p-4 ring-1 ring-white/10 w-12 h-12">
              &rarr;</a
            >
          </div>
        </div>
      </div>
      <div
        class="py-8 grid gap-4 grid-cols-2 mx-auto justify-between items-center">
        <div>
          <p class="text-xs font-semibold leading-6 text-zinc-400">
            Unwrapped Design AB
          </p>
          <p class="font-semibold leading-6 text-white">Chart Designer</p>

          <p class="flex items-center text-xs leading-6 text-zinc-300">
            Mariehamn / Åland Islands, FI
          </p>
        </div>
        <div class="ml-auto">
          <div
            class="flex items-start flex-col text-xs leading-6 text-zinc-400">
            <a
              href="/carriers/carrier-application"
              class="bg-white/5 hover:bg-white/10 focus:bg-transparent rounded-2xl inline-flex items-center text-center text-white p-4 ring-1 ring-white/10 w-12 h-12">
              &rarr;</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
