<section class="lg:p-8 overflow-hidden relative">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full">
    <div class="pb-12 border-b border-white/10">
      <h1
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
        Software Engineer
      </h1>
    </div>

    <div class="gap-12 grid grid-cols-1 lg:grid-cols-3 pt-12 w-full">
      <div class="w-full mx-auto">
        <div
          class="text-left space-y-3 flex flex-col pb-12 border-b border-white/10">
          <div class="text-left space-y-3">
            <p class="text-white font-medium">Location</p>
            <span class="space-x-1 text-zinc-400 text-sm">
              <time datetime="2023-03-16">Mariehamn / Åland Islands, FI</time>
            </span>
          </div>
          <div class="text-left space-y-3">
            <p class="text-white font-medium">Type</p>
            <span class="space-x-1 text-zinc-400 text-sm">
              <time datetime="2023-03-16">Full time</time>
            </span>
          </div>
          <div class="text-left space-y-3">
            <p class="text-white font-medium">Department</p>
            <span class="space-x-1 text-zinc-400 text-sm">
              <time datetime="1985-16-03">Engineering</time>
            </span>
          </div>
        </div>
      </div>
      <div class="w-full lg:col-span-2">
        <div x-data x-tabs class="mx-auto w-full">
          <div x-tabs:list class="-mb-px flex items-stretch w-full">
            <button
              x-tabs:tab
              type="button"
              :class="$tab.isSelected ? 'border-b-white  text-white' : 'border-transparent text-zinc-400'"
              class="inline-flex border-b px-5 py-2.5">Overview</button
            >
            <button
              x-tabs:tab
              type="button"
              :class="$tab.isSelected ? 'border-white  border-b text-white' : 'border-transparent text-zinc-400'"
              class="inline-flex border-b px-5 py-2.5">Application form</button
            >
          </div>
          <div
            x-tabs:panels
            class="rounded-b-md border-t border-zinc-700 w-full">
            <div x-tabs:panel class="pt-8">
              <div
                class="mx-auto prose-sm max-w-none prose text-zinc-400 prose-headings:text-white prose-a:font-semibold prose-a:text-accent-400 hover:prose-a:text-white prose-blockquote:text-zinc-300 prose-blockquote:text-base lg:col-span-2">
                <p>
                  At buio., we are on a mission to create a new standard for
                  modern software development. We are building the tools that
                  empower the next generation of high-impact companies to do
                  their best work. buio. is designed based on the practices and
                  processes that distinguish world-class product teams from the
                  rest: relentless focus, fast execution, and a commitment to
                  the quality of craft.
                </p>
                <p>
                  Founded in 2019, buio. has become the default tool of choice
                  for high-performance teams to build their products. Set up as
                  a fully remote company from the start, our team is currently
                  distributed across a variety of countries across the US, Latin
                  America and Europe (we hire within US/EU timezones). We are a
                  diverse team of individuals, all makers at heart. We love
                  picking up new challenges and care deeply about the quality of
                  our work.
                </p>
                <p>
                  As a small team, we’re all generalists and constantly picking
                  up new challenges. When it comes to code, we’re looking to
                  work with experienced people who can pick a problem and solve
                  it. We use TypeScript and build scalable systems so we can
                  continuously make progress on a solid foundation. We don’t
                  expect you to have a background in everything we use, but we
                  do expect strong JavaScript fundamentals and a background
                  working with React, and ideally TypeScript.
                </p>
                <h3>What you will do</h3>
                <ul>
                  <li>
                    Work with engineers and designer to build new user-facing
                    features which touch everything from database models, to
                    APIs and React UI
                  </li>
                  <li>Diagnose and improve application performance</li>
                  <li>
                    Add real-time collaborative editing to our content editor
                  </li>
                  <li>
                    Add analytics, monitoring, and alerts to our service so that
                    we can better respond to operational incidents
                  </li>
                  <li>
                    Open-source any non-trivial innovations that come out of our
                    work on the product
                  </li>
                </ul>
                <h3>Tech</h3>
                <ul>
                  <li>
                    React frontend with Styled Components, utilizing hooks for
                    the composability of functionality
                  </li>
                  <li>
                    Proprietary data synchronization library built for speed and
                    offline support. Delta-packets are transported using
                    WebSockets
                  </li>
                  <li>MobX for binding the data model to the UI</li>
                  <li>Prosemirror-based content editor</li>
                  <li>Electron desktop application</li>
                  <li>
                    Public GraphQL API that has access to all of the user's data
                  </li>
                  <li>Node, Postgres and Redis in the backend</li>
                  <li>Hosted on Google Cloud with k8s</li>
                  <li>GitHub, Slack, Notion</li>
                  <li>Design system with React component library</li>
                </ul>
                <h3>What we offer</h3>
                <ul>
                  <li>Interesting and challenging work</li>
                  <li>An experienced team to learn from</li>
                  <li>Work life balance</li>
                  <li>Competitive salary and equity</li>
                  <li>
                    Employee-friendly equity terms (early exercise, extended
                    exercise)
                  </li>
                  <li>Macbook Pro, 5K display and accessories</li>
                  <li>Stipend to set up your home office</li>
                  <li>Paid lunch and coffee during work days</li>
                  <li>Work remotely, no commuting to the office</li>
                  <li>Paid co-working space/desk at an office</li>
                  <li>Health, dental and vision insurance</li>
                  <li>Regular team events and offsites</li>
                  <li>5 weeks paid vacation</li>
                  <li>4 months paid parental leave</li>
                </ul>
                <div class="col-span-full not-prose">
                  <div
                    class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
                    <a
                      href="#"
                      class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent w-full sm:w-auto"
                      >Apply for this position</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div x-tabs:panel class="pt-8" id="form">
              <div class="w-full mx-auto">
                <form
                  action="#"
                  class="w-full bg-ebony p-4 lg:p-20 shadow-inset rounded-2xl lg:rounded-[3rem]">
                  <input
                    autocomplete="false"
                    name="hidden"
                    type="text"
                    style="display:none;"
                  />

                  <input type="hidden" name="_redirect" value="#" />
                  <div class="mt-4 space-y-6">
                    <div>
                      <label
                        name="name"
                        class="block mb-3 text-sm font-medium text-white">
                        First name
                      </label>
                      <input
                        type="text"
                        placeholder="Your name"
                        class="block w-full px-3 py-3 border-2 border-white/10 rounded-xl appearance-none text-white placeholder-white/50 bg-ebony focus:border-white focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                      />
                    </div>

                    <div class="col-span-full">
                      <label
                        name="email"
                        class="block mb-3 text-sm font-medium text-white">
                        Email
                      </label>
                      <input
                        type="email"
                        autocomplete="off"
                        placeholder="email@example.com"
                        class="block w-full px-3 py-3 border-2 border-white/10 rounded-xl appearance-none text-white placeholder-white/50 bg-ebony focus:border-white focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                      />
                    </div>
                    <div>
                      <div>
                        <label
                          name="message"
                          class="block mb-3 text-sm font-medium text-white"
                          >Cover letter</label
                        >
                        <div class="mt-1">
                          <textarea
                            rows="4"
                            placeholder="What are you working on?"
                            class="block w-full px-3 py-3 border-2 border-white/10 rounded-xl appearance-none text-white placeholder-white/50 bg-ebony focus:border-white focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div>
                      <label
                        for="cover-photo"
                        class="block mb-3 text-sm font-medium text-white"
                        >Cover photo</label
                      >
                      <div class="mt-1 sm:col-span-2 sm:mt-0 w-full">
                        <div
                          class="flex justify-center rounded-xl border-2 border-dashed border-white/10 px-6 pt-5 pb-6">
                          <div class="space-y-3 text-center py-6">
                            <div
                              class="flex text-sm items-center text-zinc-400">
                              <label
                                for="file-upload"
                                class="relative cursor-pointer -ml-px inline-flex items-center ring-1 ring-white/10 px-4 py-2 text-xs rounded-full bg-gradientdown font-light text-white hover:bg-gradientup focus:z-10 focus:border-accent-400 focus:outline-none focus:ring-1 focus:ring-accent-400">
                                <span>Upload a file</span>
                                <input
                                  id="file-upload"
                                  name="file-upload"
                                  type="file"
                                  class="sr-only"
                                />
                              </label>
                              <p class="pl-1">or drag and drop</p>
                            </div>
                            <p class="text-xs text-zinc-400">
                              PNG, JPG, GIF up to 10MB
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-span-full">
                      <label
                        name="email"
                        class="block mb-3 text-sm font-medium text-white">
                        Portfolio
                      </label>
                      <input
                        type="text"
                        autocomplete="off"
                        placeholder="Your site"
                        class="block w-full px-3 py-3 border-2 border-white/10 rounded-xl appearance-none text-white placeholder-white/50 bg-ebony focus:border-white focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                      />
                    </div>
                    <div class="col-span-full">
                      <label
                        name="email"
                        class="block mb-3 text-sm font-medium text-white">
                        Linkedin
                      </label>
                      <input
                        type="text"
                        autocomplete="off"
                        placeholder="your link"
                        class="block w-full px-3 py-3 border-2 border-white/10 rounded-xl appearance-none text-white placeholder-white/50 bg-ebony focus:border-white focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                      />
                    </div>
                    <div class="col-span-full">
                      <span class="block mb-3 text-sm font-medium text-white">
                        Are you based in a US, EU or equivalent timezone?
                      </span>
                      <span class="isolate inline-flex mt-3">
                        <a
                          type="button"
                          class="relative transition duration-500 ease-in-out transform inline-flex items-center rounded-l-full border border-white/10 bg-ebony px-4 py-2 text-xs font-light text-white hover:bg-mirage focus:z-10 focus:border-white focus:outline-none focus:ring-1 focus:ring-white"
                          >Yes</a
                        >
                        <a
                          type="button"
                          class="relative transition duration-500 cursor-pointer ease-in-out transform -ml-px inline-flex items-center rounded-r-full border border-zinc-700 dark px-4 py-2 text-xs font-light text-white hover:bg-metal focus:z-10 focus:border-accent-400 focus:outline-none focus:ring-1 focus:ring-accent-400"
                          >No</a
                        >
                      </span>
                    </div>
                    <div class="col-span-full">
                      <label
                        name="email"
                        class="block mb-3 text-sm font-medium text-white">
                        What country are you based in?
                      </label>
                      <input
                        type="text"
                        autocomplete="off"
                        placeholder="your country"
                        class="block w-full px-3 py-3 border-2 border-white/10 rounded-xl appearance-none text-white placeholder-white/50 bg-ebony focus:border-white focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                      />
                    </div>
                    <div class="col-span-full">
                      <div
                        class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
                        <a
                          href="#"
                          class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent w-full sm:w-auto"
                          >Submit application</a
                        >
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
