<section class="lg:p-8 overflow-hidden relative">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full bg-gradientdown rounded-[3rem]">
    <div class="text-center max-w-2xl lg:mx-auto">
      <span
        class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10">
        find something</span
      >
      <h2
        class="text-3xl py-3 mt-6 tracking-tighter font-light lg:text-5xl text-white">
        Help revolutionize how <span class="block text-zinc-400"
          >founders grow businesses</span
        >
      </h2>
      <p class="mt-4 text-base text-white">
        At Buio, we've created a platform to reimagine how founders finance and
        grow their businesses. Come build with us, and help define recurring
        revenue as an asset class.
      </p>
      <div class="mt-10 flex items-center justify-center">
        <a
          href="/carriers/carriers-details"
          class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
          See open positions</a
        >
      </div>
    </div>
    <div class="relative mt-24">
      <div
        class="mx-auto max-w-[40rem] prose-sm prose text-white prose-headings:text-white prose-a:font-semibold prose-a:text-white hover:prose-a:text-white/50">
        <h3
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Buio has lost its magic. <span class="block text-zinc-400"
            >We want your help to bring it back.</span
          >
        </h3>
        <p>
          Remember when Bip still felt magical? Good Bip used to be an
          experience. It used to radically change how we lived and worked. It
          made us feel like we lived in the future.
        </p>
        <p>
          CSS grid Ruby tabs vs spaces virtual DOM production TOML SOAP object
          library antipattern optimize. Stand-up CLI markup Babel reactive
          behavior-driven Backbone.js diversity and inclusion concurrency.
          Resolve budget compression imperative-mood tl;dr cherry pick.
          Whiteboard inheritance time-to-interactive CSV scrum master JavaScript
          .NET CSS grid bitwise operator OOP.
        </p>
        <p>
          The magic of software got lost along the way. At Linear, we are on a
          quest to bring it back.
        </p>
        <p>
          Parameter compile tabs vs spaces circle back production SRE. Big O
          flexbox const little Bobby Tables public JQuery graph UX class
          architecture. Graph looks good to me cherry pick free as in beer
          composition compiler. Asynchronous view-model promise internet button
          module injection websockets tabs vs spaces. Senior-engineer +1 tabs vs
          spaces Byzantine fault tolerance Ruby security.
        </p>
        <p>
          We are looking for talented people who share our passion for crafting
          exceptional software products. That person might be you.
        </p>
        <p>Join us and let's bring back the magic of software.</p>
        <hr class="border-t-white/20" />
        <a class="not-prose" href="/carriers/carriers-details"
          >See open posititons &nbsp; &rarr;</a
        >
      </div>
    </div>
  </div>
</section>
<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:py-24 relative w-full">
    <div class="lg:text-center max-w-xl lg:mx-auto">
      <span class="text-accent-400"> Join us</span>
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
        Join the movement. <span class="md:block text-zinc-400"
          >We are transforming company scaling</span
        >
      </h2>
    </div>
    <dl
      class="grid grid-cols- gap-12 md:grid-cols-2 lg:space-y-0 lg:gap-2 mt-12">
      <div
        class="flex flex-col shadow-inset bg-ebony rounded-3xl p-4 lg:p-10 divide-y divide-white/10">
        <div class="py-6">
          <dt class="inline-flex items-center gap-3">
            <div class="flex items-center justify-center text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
            </div>
            <p class="text-lg font-medium leading-6 text-white">
              Flexible Remote Work
            </p>
          </dt>
          <dd class="mt-4 text-sm text-zinc-400">
            Embrace the freedom to work from your preferred location and
            discover new destinations with your colleagues.
          </dd>
        </div>
        <div class="py-6">
          <dt class="inline-flex items-center gap-3">
            <div class="flex items-center justify-center text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
            </div>
            <p class="text-lg font-medium leading-6 text-white">
              Competitive Compensation with Equity
            </p>
          </dt>
          <dd class="mt-4 text-sm text-zinc-400">
            Join a team that values your contributions and become a part of the
            fastest-growing fintech company in history.
          </dd>
        </div>
        <div class="py-6">
          <dt class="inline-flex items-center gap-3">
            <div class="flex items-center justify-center text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
            </div>
            <p class="text-lg font-medium leading-6 text-white">
              Comprehensive Health Benefits
            </p>
          </dt>
          <dd class="mt-4 text-sm text-zinc-400">
            Take care of yourself and your loved ones with health, dental, and
            vision benefits, ensuring your well-being without any concerns.
          </dd>
        </div>
      </div>
      <div
        class="flex flex-col shadow-inset bg-ebony rounded-3xl p-4 lg:p-10 divide-y divide-white/10">
        <div class="py-6">
          <dt class="inline-flex items-center gap-3">
            <div class="flex items-center justify-center text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
            </div>
            <p class="text-lg font-medium leading-6 text-white">
              Generous Parental Leave
            </p>
          </dt>
          <dd class="mt-4 text-sm text-zinc-400">
            Enjoy precious bonding time with your new arrival with ample paid
            parental le
          </dd>
        </div>
        <div class="py-6">
          <dt class="inline-flex items-center gap-3">
            <div class="flex items-center justify-center text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
            </div>
            <p class="text-lg font-medium leading-6 text-white">
              Unlimited Time Off
            </p>
          </dt>
          <dd class="mt-4 text-sm text-zinc-400">
            Truly take advantage of our commitment to work-life balance, with
            unlimited paid time off and company holidays.
          </dd>
        </div>
        <div class="py-6">
          <dt class="inline-flex items-center gap-3">
            <div class="flex items-center justify-center text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
            </div>
            <p class="text-lg font-medium leading-6 text-white">
              Personalized Workstations
            </p>
          </dt>
          <dd class="mt-4 text-sm text-zinc-400">
            Create a comfortable and tailored work-from-home setup that suits
            your needs perfectly.
          </dd>
        </div>
      </div>
    </dl>
    <div class="mt-10 flex items-center justify-center">
      <a
        href="/carriers/carriers-details"
        class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
        See open positions</a
      >
    </div>
  </div>
</section>
