<section class="lg:p-8 overflow-hidden">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center w-full bg-white lg:rounded-[3rem]">
    <div
      class="relative md:flex-none sm:justify-center flex items-center justify-center">
      <div class="w-full max-w-md md:max-w-sm mx-auto">
        <div class="flex flex-col">
          <div class="border-b pb-12">
            <p
              class="text-3xl tracking-tighter font-light lg:text-4xl text-black">
              Let's get started!
            </p>
            <p class="mt-2 text-sm text-zinc-400">
              Complete the details below so Buio can process your request and
              then schedule a time to discuss your goals.
            </p>
          </div>
        </div>

        <form class="mt-12">
          <div class="space-y-6 mt-4">
            <div class="w-full flex-row flex gap-3">
              <div class="w-full">
                <label
                  class="block mb-3 text-sm font-medium text-black"
                  for="first_name">First name</label
                >
                <input
                  placeholder="First name..."
                  type="text"
                  class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                  id="first_name"
                  name="first_name"
                  autocomplete="given-name"
                  required=""
                />
              </div><div class="w-full">
                <label
                  class="block mb-3 text-sm font-medium text-black"
                  for="last_name">Last name</label
                ><input
                  placeholder="Last name..."
                  type="text"
                  class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                  id="last_name"
                  name="last_name"
                  autocomplete="family-name"
                  required=""
                />
              </div>
            </div><div>
              <label
                class="text-sm block font-medium mb-3 text-slate-600"
                name="name">Company</label
              >
              <input
                type="text"
                class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                placeholder="Type here..."
              />
            </div><div class="col-span-full">
              <label
                class="text-sm block font-medium mb-3 text-slate-600"
                name="company">Email</label
              >
              <input
                type="email"
                class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                placeholder="Type password here..."
              />
            </div>
            <div class="col-span-full">
              <label
                class="text-sm block font-medium mb-3 text-slate-600"
                for="phone-number">Phone Number</label
              ><div class="relative">
                <div class="flex items-center absolute inset-y-0 left-0">
                  <label class="sr-only" for="country">Country</label>
                  <select
                    class="text-sm bg-transparent border-transparent focus:border-accent-500 focus:ring-accent-500 h-full pl-3 pr-8 py-0 rounded-md text-slate-500"
                    id="country"
                    name="country"
                    ><option>US</option><option>CA</option><option>EU</option
                    ></select
                  >
                </div>
                <input
                  type="text"
                  class="text-sm block border-2 py-3 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500 pl-20 w-full"
                  id="phone-number"
                  name="phone-number"
                  autocomplete="tel"
                  placeholder="+1 (555) 987-6543"
                />
              </div>
            </div><div class="flex">
              <div class="flex items-start">
                <input
                  type="checkbox"
                  class="border-accent-500 focus:ring-accent-500 h-4 rounded text-accent-400 w-4"
                  id="remember-me"
                  name="remember-me"
                />
                <label
                  class="text-sm block font-medium leading-tight ml-2 text-black"
                  for="remember-me"
                  >Creating an account means you’re okay with our <a
                    class="hover:text-accent-400 text-accent-400"
                    href="/terms"
                    >Terms of Service,
                  </a><a
                    class="hover:text-accent-400 text-accent-400"
                    href="/privacy"
                    >Privacy Policy
                  </a>, and our default.</label
                >
              </div>
            </div>
            <div
              class="inline-flex flex-wrap col-span-full items-center mt-8 w-full">
              <a
                href="/"
                type="a"
                class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-zinc-100 bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-black w-full inline-flex items-center justify-center ring-1 ring-transparent">
                Submit
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
