<section class="lg:p-8 overflow-hidden">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center w-full bg-white lg:rounded-[3rem]">
    <div class="relative items-center">
      <div class="border-b pb-12">
        <p class="text-3xl tracking-tighter font-light lg:text-4xl text-black">
          Signup.
        </p>
        <p class="mt-2 text-sm text-zinc-400">Create an account wiht us.</p>
      </div>
      <div
        class="w-full gap-24 mx-auto grid grid-cols-1 lg:grid-cols-2 items-end">
        <div class="flex flex-col">
          <form class="mt-12">
            <div class="space-y-6">
              <div class="col-span-full">
                <label
                  name="email"
                  class="block mb-3 text-sm font-medium text-black">
                  Email
                </label>
                <input
                  type="email"
                  autocomplete="off"
                  placeholder="email@example.com"
                  class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                />
              </div>

              <div class="flex items-start">
                <input
                  class="text-black focus:ring-white border-black h-4 focus:border-white bg-black rounded w-4"
                  type="checkbox"
                  id="remember-me"
                  name="remember-me"
                />
                <label
                  class="font-medium text-sm block leading-tight ml-2 text-black"
                  for="remember-me"
                  >Creating an account means you’re okay with our <a
                    class="text-black underline hover:text-accent-400"
                    href="/terms"
                    >Terms of Service,
                  </a><a
                    class="text-black underline hover:text-accent-400"
                    href="/privacy"
                    >Privacy Policy
                  </a>, and our default <a
                    class="text-black underline hover:text-accent-400"
                    href="/notifications">Notification Settings.</a
                  >
                </label>
              </div>
              <div
                class="inline-flex flex-wrap col-span-full items-center mt-8 w-full">
                <a
                  href="/"
                  type="a"
                  class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-zinc-100 bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-black w-full inline-flex items-center justify-center ring-1 ring-transparent">
                  Sign up
                </a>
              </div>
              <div>
                <p class="font-medium text-sm leading-tight text-black mx-auto">
                  Already member? <a
                    class="text-black underline hover:text-accent-400 ml-3"
                    href="/login">Log in now</a
                  >
                </p>
              </div>
            </div>
          </form>
        </div>

        <div class="py-3">
          <div class="space-y-2">
            <div class="py-3 relative">
              <div
                class="flex items-center absolute inset-0"
                aria-hidden="true">
                <div class="w-full border-t"></div>
              </div><div class="flex relative justify-center">
                <span class="text-sm bg-white px-2 text-black"
                  >Or continue with</span
                >
              </div>
            </div>
            <span class="w-full inline-flex relative mt-3 z-0">
              <button
                class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-zinc-100 bg-zinc-100 hover:bg-zinc-50 duration-200 focus:ring-offset-2 gap-3 focus:ring-black text-black w-full inline-flex items-center justify-between ring-1 ring-transparent"
                type="button">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-twitter"
                    width="24"
                    height="18"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="none"
                    fill="#1DA1F2"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
                    ></path>
                  </svg>
                </span>
                <span>Signup with Twitter &nbsp; &rarr;</span>
              </button>
            </span>
            <span class="w-full inline-flex relative mt-3 z-0">
              <button
                class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-zinc-100 bg-zinc-100 hover:bg-zinc-50 duration-200 focus:ring-offset-2 gap-3 focus:ring-black text-black w-full inline-flex items-center justify-between ring-1 ring-transparent"
                type="button">
                <span
                  ><svg
                    fill="none"
                    height="18"
                    viewBox="0 0 32 32"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      d="M30.0014 16.3109C30.0014 15.1598 29.9061 14.3198 29.6998 13.4487H16.2871V18.6442H24.1601C24.0014 19.9354 23.1442 21.8798 21.2394 23.1864L21.2127 23.3604L25.4536 26.58L25.7474 26.6087C28.4458 24.1665 30.0014 20.5731 30.0014 16.3109Z"
                      fill="#4285F4"></path><path
                      d="M16.2862 30C20.1433 30 23.3814 28.7555 25.7465 26.6089L21.2386 23.1865C20.0322 24.011 18.4132 24.5866 16.2862 24.5866C12.5085 24.5866 9.30219 22.1444 8.15923 18.7688L7.9917 18.7827L3.58202 22.1272L3.52435 22.2843C5.87353 26.8577 10.6989 30 16.2862 30Z"
                      fill="#34A853"></path><path
                      d="M8.16007 18.7688C7.85848 17.8977 7.68395 16.9643 7.68395 15.9999C7.68395 15.0354 7.85849 14.1021 8.1442 13.231L8.13621 13.0455L3.67126 9.64734L3.52518 9.71544C2.55696 11.6132 2.0014 13.7444 2.0014 15.9999C2.0014 18.2555 2.55696 20.3865 3.52518 22.2843L8.16007 18.7688Z"
                      fill="#FBBC05"></path><path
                      d="M16.2863 7.4133C18.9688 7.4133 20.7783 8.54885 21.8101 9.4978L25.8418 5.64C23.3657 3.38445 20.1434 2 16.2863 2C10.699 2 5.87354 5.1422 3.52435 9.71549L8.14339 13.2311C9.30223 9.85555 12.5086 7.4133 16.2863 7.4133Z"
                      fill="#EB4335"></path>
                  </svg>
                </span>
                <span>Signup with Google &nbsp; &rarr;</span>
              </button>
            </span>
            <span class="w-full inline-flex relative mt-3 z-0">
              <button
                class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-zinc-100 bg-zinc-100 hover:bg-zinc-50 duration-200 focus:ring-offset-2 gap-3 focus:ring-black text-black w-full inline-flex items-center justify-between ring-1 ring-transparent"
                type="button">
                <span>
                  <svg
                    height="18"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16 2C8.265 2 2 8.265 2 16C2 22.195 6.0075 27.4275 11.5725 29.2825C12.2725 29.405 12.535 28.985 12.535 28.6175C12.535 28.285 12.5175 27.1825 12.5175 26.01C9 26.6575 8.09 25.1525 7.81 24.365C7.6525 23.9625 6.97 22.72 6.375 22.3875C5.885 22.125 5.185 21.4775 6.3575 21.46C7.46 21.4425 8.2475 22.475 8.51 22.895C9.77 25.0125 11.7825 24.4175 12.5875 24.05C12.71 23.14 13.0775 22.5275 13.48 22.1775C10.365 21.8275 7.11 20.62 7.11 15.265C7.11 13.7425 7.6525 12.4825 8.545 11.5025C8.405 11.1525 7.915 9.7175 8.685 7.7925C8.685 7.7925 9.8575 7.425 12.535 9.2275C13.655 8.9125 14.845 8.755 16.035 8.755C17.225 8.755 18.415 8.9125 19.535 9.2275C22.2125 7.4075 23.385 7.7925 23.385 7.7925C24.155 9.7175 23.665 11.1525 23.525 11.5025C24.4175 12.4825 24.96 13.725 24.96 15.265C24.96 20.6375 21.6875 21.8275 18.5725 22.1775C19.08 22.615 19.5175 23.455 19.5175 24.7675C19.5175 26.64 19.5 28.145 19.5 28.6175C19.5 28.985 19.7625 29.4225 20.4625 29.2825C23.2418 28.3443 25.6568 26.5581 27.3677 24.1753C29.0786 21.7926 29.9993 18.9334 30 16C30 8.265 23.735 2 16 2Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <span>Signup with GitHub &nbsp; &rarr;</span>
              </button>
            </span>
            <span class="w-full inline-flex relative mt-3 z-0">
              <button
                class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-zinc-100 bg-zinc-100 hover:bg-zinc-50 duration-200 focus:ring-offset-2 gap-3 focus:ring-black text-black w-full inline-flex items-center justify-between ring-1 ring-transparent"
                type="button">
                <span>
                  <svg
                    height="18"
                    viewBox="0 0 14 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M13.5621 5.45739C13.4857 5.50195 11.6671 6.44248 11.6671 8.52785C11.7528 10.9061 13.9621 11.7401 14 11.7401C13.9621 11.7847 13.6665 12.8763 12.7907 14.0205C12.0956 15.0062 11.3242 16 10.1528 16C9.0385 16 8.6385 15.3431 7.35278 15.3431C5.97203 15.3431 5.58135 16 4.5242 16C3.35277 16 2.52419 14.953 1.79127 13.9766C0.839097 12.6986 0.0297778 10.6931 0.00120634 8.76747C-0.0180484 7.74707 0.19189 6.74403 0.72481 5.89206C1.47699 4.70265 2.81985 3.89524 4.28631 3.86862C5.40992 3.83331 6.40992 4.58747 7.09563 4.58747C7.75278 4.58747 8.98135 3.86862 10.3714 3.86862C10.9714 3.86919 12.5714 4.03762 13.5621 5.45739ZM7.0006 3.66488C6.8006 2.73303 7.35278 1.80119 7.86707 1.20677C8.52421 0.487918 9.5621 0 10.4571 0C10.5143 0.931848 10.1522 1.84575 9.50496 2.51136C8.92421 3.23021 7.92421 3.77138 7.0006 3.66488Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <span>Signup with Apple &nbsp; &rarr;</span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
