<section class="lg:p-8 overflow-hidden">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center w-full bg-white lg:rounded-[3rem]">
    <div
      class="relative md:flex-none sm:justify-center flex items-center justify-center">
      <div class="w-full max-w-md md:max-w-sm mx-auto">
        <div class="flex flex-col">
          <div class="border-b pb-12">
            <p
              class="text-3xl tracking-tighter font-light lg:text-4xl text-black">
              Submit
            </p>
            <p class="mt-2 text-sm text-zinc-400">Submit your details</p>
          </div>
        </div>
        <form class="mt-12">
          <input
            autocomplete="false"
            name="hidden"
            type="text"
            style="display:none;"
          />

          <div class="mt-4 space-y-6">
            <div>
              <label
                name="name"
                class="block mb-3 text-sm font-medium text-black">
                First name
              </label>
              <input
                type="text"
                placeholder="Your name"
                class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
              />
            </div>
            <div class="col-span-full">
              <label
                name="company"
                class="block mb-3 text-sm font-medium text-black">
                What is the name of your company / organisation?
              </label>
              <input
                type="text"
                class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                placeholder="Company name"
              />
            </div>
            <div class="col-span-full">
              <label
                name="email"
                class="block mb-3 text-sm font-medium text-black">
                How shall we contact you?
              </label>
              <input
                type="email"
                autocomplete="off"
                placeholder="email@example.com"
                class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
              />
            </div>
            <div>
              <div>
                <label
                  name="message"
                  class="block mb-3 text-sm font-medium text-black"
                  >Project details</label
                >
                <div class="mt-1">
                  <textarea
                    rows="4"
                    placeholder="What are you working on?"
                    class="block w-full px-3 py-3 border-2 border-zinc-100 rounded-xl appearance-none text-black placeholder-black/50 bg-white/5 focus:border-black focus:bg-transparent focus:outline-none focus:ring-black sm:text-sm placeholder-zinc-500"
                  ></textarea>
                </div>
              </div>
            </div>
            <div
              class="inline-flex flex-wrap col-span-full items-center mt-8 w-full">
              <a
                href="/"
                type="a"
                class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-zinc-100 bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-black w-full inline-flex items-center justify-center ring-1 ring-transparent">
                Submit
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
