---
import Logo from "@/components/global/Logo.astro";
import { appConfig } from "@/lib/app";

---

<footer class="bg-white lg:p-8">
  <div
    class="items-center px-8 mx-auto py-12 lg:py-24 md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="text-black mb-4 xl:mb-0">
        <span
          class="text-lg inline-flex items-center gap-3 font-semibold lg:text-2xl italic"
        >
          <Logo className="h-6 w-6"></Logo>
          HazelHook</span
        >
      </div>
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="md:grid md:grid-cols-3 md:gap-8">
          {
            appConfig.footer.map(foot => 
            <div>
            <h3 class="text-black text-sm">{foot.title}</h3>
            <ul role="list" class="text-zinc-400 mt-4 text-xs space-y-2">
              {
                foot.item.map(({name,...rest}) =>  <li>
                <a {...rest} class="text-zinc-400 hover:text-black">{name}</a>
              </li>)
              }
             

              
            </ul>
          </div> )
          }
        
          
        </div>
        
      </div>
    </div>
  </div>
</footer>

<footer class="bg-white border-t lg:p-8">
  <div
    class="items-center px-8 py-6 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <nav class="flex flex-col md:flex-row gap-8 justify-between">
      <p class="text-xs text-zinc-400">
        © 2023 Hazelhook. All rights reserved.
      </p>
      <div class="flex flex-row gap-8">
        <a
        class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-xs text-zinc-400 transition-colors delay-150 hover:delay-[0ms] hover:bg-mirage/10"
        href="/terms"
        ><span class="relative z-10">Terms fo use</span>
      </a>
      <a
        class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-xs text-zinc-400 transition-colors delay-150 hover:delay-[0ms] hover:bg-mirage/10"
        href="/privacy"
        ><span class="relative z-10">Privacy policy</span>
      </a>
      </div>
     
    </nav>
  </div>
</footer>
