<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:py-24 relative w-full">
    <div class="space-y-6">
      <div
        class="mt-12 h-full lg:mt-0 bg-gradientdown ring-1 grid grid-cols-1 md:grid-cols-2 ring-white/10 rounded-4xl p-8 lg:p-20 relative overflow-hidden">
        <div class="relative z-10">
          <span class="text-white"> Some stats</span>
          <h2
            class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
            For founders, <span class="block text-zinc-300">by founders</span>
          </h2>
          <p class="mt-4 text-sm text-white max-w-xl">
            Buio was built by a team of passionate entrepreneurs who know the
            challenges and opportunities founders face when deciding how to
            finance their companies.
          </p>
        </div>
        <img
          class="md:absolute md:-right-64 md:-mt-32 opacity-30"
          src="/images/assets/cube.png"
          alt=""
        />
      </div>
      <div
        class="mt-12 h-full lg:mt-0 bg-gradientdown ring-1 grid grid-cols-1 md:grid-cols-2 ring-white/10 rounded-4xl p-8 lg:p-20 relative overflow-hidden">
        <div class="relative z-10 md:col-start-2">
          <span class="text-white"> Some stats</span>
          <h2
            class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
            Flexible charts <span class="block text-zinc-300"
              >on your terms</span
            >
          </h2>
          <p class="mt-4 text-sm text-white max-w-xl">
            Our goal is to empower founders to scale companies without taking on
            restrictive debt or giving up ownership interest. We designed Buio
            to enable access to non-dilutive capital based on the health of your
            business—not based on who you know.
          </p>
        </div>
        <img
          class="md:absolute md:-left-64 md:-mt-12 opacity-30"
          src="/images/assets/cubeTwo.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
