<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:py-40 relative w-full bg-gradientdown rounded-[3rem]">
    <div class="max-w-xl mx-auto">
      <div>
        <span
          class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10">
          About us
        </span>
        <h1
          class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-white">
          Unleashing the Power <span class="block text-zinc-400"
            >of Data Visualization.</span
          >
        </h1>

        <div class="mt-6 text-white space-y-3">
          <p>
            Welcome to the virtual realm where data meets artistry! At Buio, we
            believe that information should be captivating, immersive, and
            impactful. Our cutting-edge chart company software is designed to
            transform your data into stunning visual masterpieces that will
            leave your audience in awe.
          </p>
          <p>
            With Buio, you can bid farewell to mundane spreadsheets and endless
            rows of numbers. Our innovative software takes the complexity out of
            data visualization, allowing you to effortlessly create eye-catching
            charts and graphs that breathe life into your data.
            <p>
              Picture this: Imagine a world where scatter plots dance, bar
              graphs come to life, and pie charts burst with vibrant colors.
              Buio brings your data to life like never before, making it easier
              than ever to communicate complex concepts and insights with
              crystal clarity.
            </p>
            <p>
              But Buio is more than just a pretty face. Beneath its visually
              stunning exterior lies a robust set of features designed to
              streamline your workflow and enhance your productivity. Seamlessly
              import data from various sources, customize chart styles and
              layouts with a few clicks, and effortlessly share your creations
              with colleagues and clients.
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
