<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:py-24 relative w-full bg-gradientup rounded-[3rem]">
    <div class="mx-auto max-w-2xl lg:mx-0 pb-12 border-b border-white/10">
      <span class="text-white">Our team</span>
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
        We are a super talented and creative team
        <span class="md:block text-zinc-300">
          ready to work on the first chart we find.
        </span>
      </h2>
    </div>
    <ul
      role="list"
      class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6">
      <li>
        <div class="space-y-4">
          <img
            alt=""
            class="mx-auto h-20 lg:h-24 lg:w-24 rounded-full w-20"
            src="https://images.unsplash.com/photo-1610216705422-caa3fcb6d158?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
          /><div class="space-y-2">
            <div>
              <h3 class="text-white font-medium text-base">
                Johnny Mnemonic
              </h3><p class="text-sm text-zinc-400 mt-4 font-display">
                Co-Founder / CTO
              </p>
            </div>
          </div>
        </div>
      </li><li>
        <div class="space-y-4">
          <img
            alt=""
            class="mx-auto h-20 lg:h-24 lg:w-24 rounded-full w-20"
            src="https://images.unsplash.com/photo-1584997159889-8bb96d0a2217?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2960&q=80"
          /><div class="space-y-2">
            <div>
              <h3 class="text-white font-medium text-base">To Panga</h3><p
                class="text-sm text-zinc-400 mt-4 font-display">
                Founder / CTO
              </p>
            </div>
          </div>
        </div>
      </li><li>
        <div class="space-y-4">
          <img
            alt=""
            class="mx-auto h-20 lg:h-24 lg:w-24 rounded-full w-20"
            src="https://cdn.dribbble.com/users/2212936/avatars/normal/8475581b3b58292dd6914814b457ea15.jpg?1662402038"
          /><div class="space-y-2">
            <div>
              <h3 class="text-white font-medium text-base">Mike Ike</h3><p
                class="text-sm text-zinc-400 mt-4 font-display">
                Special Forces
              </p>
            </div>
          </div>
        </div>
      </li><li>
        <div class="space-y-4">
          <img
            alt=""
            class="mx-auto h-20 lg:h-24 lg:w-24 rounded-full w-20"
            src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
          /><div class="space-y-2">
            <div>
              <h3 class="text-white font-medium text-base">Elri Sitas</h3><p
                class="text-sm text-zinc-400 mt-4 font-display">
                SEO Expert
              </p>
            </div>
          </div>
        </div>
      </li><li>
        <div class="space-y-4">
          <img
            alt=""
            class="mx-auto h-20 lg:h-24 lg:w-24 rounded-full w-20"
            src="https://images.unsplash.com/photo-1553867745-6e038d085e86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1495&q=80"
          /><div class="space-y-2">
            <div>
              <h3 class="text-white font-medium text-base">Larro Salia</h3><p
                class="text-sm text-zinc-400 mt-4 font-display">
                developer
              </p>
            </div>
          </div>
        </div>
      </li><li>
        <div class="space-y-4">
          <img
            alt=""
            class="mx-auto h-20 lg:h-24 lg:w-24 rounded-full w-20"
            src="https://images.unsplash.com/photo-1546458904-143d1674858d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80"
          /><div class="space-y-2">
            <div>
              <h3 class="text-white font-medium text-base">Zack Williams</h3><p
                class="text-sm text-zinc-400 mt-4 font-display">
                Marketing
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
