<section class="lg:p-8">
  <div
    class="px-8 py-12 lg:py-24 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:gap-24 items-center">
      <div>
        <span class="text-accent-400"> Airbnb</span>
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          How Airbnb uses Buio to <span class="block text-zinc-400"
            >power their newest projects.</span
          >
        </h2>
        <p class="mt-4 text-base text-white">A conversation with:</p>

        <div class="pt-4 border-t border-white/10 mt-4">
          <div class="group block flex-shrink-0">
            <div class="flex items-center">
              <div>
                <img
                  class="inline-block h-9 w-9 rounded-full"
                  src="https://images.unsplash.com/photo-1546458904-143d1674858d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80"
                  alt=""
                />
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-white">Walter Falter</p>
                <p class="text-xs font-medium text-zinc-400">
                  Marketing ar Airbnb
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <img
        class="mt-12 lg:mt-0 aspect-square object-cover rounded-3xl lg:rounded-[3rem]"
        src="https://images.unsplash.com/photo-1527150122806-f682d2fd8b09?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2831&q=80"
        alt="#"
      />
    </div>
  </div>
</section>
<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-24">
      <div class="hidden md:block">
        <div class="lg:sticker lg:sticky top-0 pt-12">
          <img src="/images/logos/airbnb.svg" alt="" />
          <div class="mt-6 space-y-6">
            <div>
              <p class="text-base font-medium leading-6 text-white">About</p>
              <p class="text-zinc-400 text-sm">
                Airbnb is a popular online marketplace for short-term
                accommodations worldwide.
              </p>
            </div>
            <div>
              <p class="text-base font-medium leading-6 text-white">Industry</p>
              <p class="text-zinc-400 text-sm">Hospitality, travel</p>
            </div>
            <div>
              <p class="text-base font-medium leading-6 text-white">
                Company size
              </p>
              <p class="text-zinc-400 text-sm">0 - 10</p>
            </div>
            <div>
              <p class="text-base font-medium leading-6 text-white">
                Headquarters
              </p>
              <p class="text-zinc-400 text-sm">
                San Francisco, California, United States
              </p>
            </div>
            <div>
              <p class="text-base font-medium leading-6 text-white">Founded</p>
              <p class="text-zinc-400 text-sm">2008</p>
            </div>
            <div>
              <p class="text-base font-medium leading-6 text-white">Founded</p>
              <p class="text-zinc-400 text-sm">$6 billion</p>
            </div>
          </div>
        </div>
      </div>
      <div class="md:col-span-3 lg:pt-12">
        <dl
          class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:space-y-0 lg:gap-24">
          <div>
            <dt class="inline-flex items-center gap-3">
              <p
                class="text-3xl tracking-tighter font-light lg:text-4xl text-white">
                Challenge
              </p>
            </dt>
            <dd class="mt-4 text-sm text-zinc-400">
              Airbnb encountered multiple difficulties when it came to
              effectively managing their sales and customer success processes
              using Airtable. They needed to find a CRM solution.
            </dd>
          </div>
          <div>
            <dt class="inline-flex items-center gap-3">
              <p
                class="text-3xl tracking-tighter font-light lg:text-4xl text-white">
                Solution
              </p>
            </dt>
            <dd class="mt-4 text-sm text-zinc-400">
              Airbnb opted for Airbnb as their chosen platform to create a
              tailored solution for their go-to-market strategies, encompassing
              sales pipelines and customer success management.
            </dd>
          </div>
        </dl>
        <div class="mt-24">
          <span
            class="text-3xl tracking-tighter font-light lg:text-4xl text-white"
            >Results</span
          >
        </div>
        <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3 mt-12">
          <div class="bg-ebony shadow-inset rounded-3xl p-4">
            <dt class="inline-flex items-center gap-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check text-white"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
            </dt>
            <dd class="text-sm text-zinc-400 mt-24">
              A flexible CRM solution that seamlessly adapts to their business
              processes, simplifying rapid iteration, and growth.
            </dd>
          </div>
          <div class="bg-ebony shadow-inset rounded-3xl p-4">
            <dt class="inline-flex items-center gap-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check text-white"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
            </dt>
            <dd class="text-sm text-zinc-400 mt-24">
              Efficient tracking and reporting of sales leads with dynamic data
              enrichment, leveraging real-time customer interactions.
            </dd>
          </div>
          <div class="bg-ebony shadow-inset rounded-3xl p-4">
            <dt class="inline-flex items-center gap-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check text-white"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
            </dt>
            <dd class="text-sm text-zinc-400 mt-24">
              A robust customer success program empowered by automated workflows
              and intelligent communication capabilities.
            </dd>
          </div>
        </dl>

        <div
          class="mx-auto max-w-none prose text-zinc-400 prose-a:font-semibold prose-a:text-acent-300 border-white/20 border-t mt-12 pt-12 hover:prose-a:text-white prose-headings:text-white prose-headings:font-medium prose-blockquote:text-acent-400 prose-strong:text-accent-500 prose-img:rounded-3xl prose-pre:rounded-2xl">
          <h3>Buio's story:</h3>
          <p>
            With over 900 million members on LinkedIn and more than 16 million
            job listings, it may seem like finding a job has become easier for
            today's job candidates. However, the reality is often different.
            Candidates without impressive resumes struggle to stand out amidst
            fierce competition, while those with the right credentials are
            bombarded with irrelevant job offers.
          </p>

          <p>
            Buio, an early-stage startup based in New York City, is determined
            to change this scenario. Buio has developed a platform for
            community-based hiring, enabling companies to leverage digital
            communities to discover suitable candidates, while community leaders
            facilitate connections to open roles.
          </p>
          <p>
            Since its establishment in 2021, Buio has gained remarkable traction
            among influential thought leaders in the tech industry. If you've
            recently come across an influencer's job board, chances are they are
            utilizing Buio's platform.
          </p>
          <h3>How Buio utilizes Airbnb:</h3>
          <p>
            Buio has adopted Airbnb as the central component for all
            customer-related activities within their business. With Airbnb, they
            can construct, iterate, and customize their CRM according to
            evolving business requirements.
          </p>
          <p>
            "Airbnb's versatility and user-friendly interface are remarkable. We
            have the ability to shape it precisely to match our business
            processes, providing us with a unified source of truth for all
            customer-related matters," says Schrader. "It offers us a
            comprehensive overview of team-wide communication with customers.
            Currently, we employ it for sales lead tracking and customer
            success, with plans to incorporate additional use cases in the near
            future."
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
