<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:py-36 relative w-full">
    <div class="max-w-xl text-center mx-auto">
      <span
        class="relative rounded-full px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10">
        Customers</span
      >
      <h1
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
        Meet the business <span class="block text-zinc-400"
          >owners using Buio</span
        >
      </h1>
      <p class="text-white mt-6 max-w-md mx-auto">
        Entrepreneurs and business operators are utilizing Buio to enhance the
        efficiency of their operations and drive the growth of their businesses.
      </p>
    </div>

    <div class="relative mt-12 border-t border-white/10 pt-12 w-full">
      <ul class="grid grid-cols-2 lg:grid-cols-3 gap-2">
        <a
          href="/customers/customers-details"
          class="p-8 lg:p-20 rounded-3xl shadow-inset bg-ebony justify-center items-center aspect-square flex">
          <img class="mx-auto" src="/images/logos/airbnb.svg" alt="" />
        </a>
        <a
          href="/customers/customers-details"
          class="p-8 lg:p-20 rounded-3xl shadow-inset bg-ebony justify-center items-center aspect-square flex">
          <img class="mx-auto" src="/images/logos/github.svg" alt="" />
        </a>
        <a
          href="/customers/customers-details"
          class="p-8 lg:p-20 rounded-3xl shadow-inset bg-ebony justify-center items-center aspect-square flex">
          <img class="mx-auto" src="/images/logos/dribbble.svg" alt="" />
        </a>
        <a
          href="/customers/customers-details"
          class="p-8 lg:p-20 rounded-3xl shadow-inset bg-ebony justify-center items-center aspect-square flex">
          <img class="mx-auto" src="/images/logos/spacex.svg" alt="" />
        </a>
        <a
          href="/customers/customers-details"
          class="p-8 lg:p-20 rounded-3xl shadow-inset bg-ebony justify-center items-center aspect-square flex">
          <img class="mx-auto" src="/images/logos/adobe.svg" alt="" />
        </a>
        <a
          href="/customers/customers-details"
          class="p-8 lg:p-20 rounded-3xl shadow-inset bg-ebony justify-center items-center aspect-square flex">
          <img class="mx-auto" src="/images/logos/notion.svg" alt="" />
        </a>
      </ul>
    </div>
  </div>
</section>
