<section class="p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 items-center lg:py-24 relative w-full bg-gradientdown rounded-[3rem]">
    <div class="text-center max-w-xl md:mx-auto">
      <h2 class="text-3xl tracking-tighter font-light lg:text-4xl text-white">
        Get the Building blocks <span class="block text-zinc-400"
          >for your next website</span
        >
      </h2>
      <p class="mt-5 text-white">
        Buio is a beatifully design UI Kit that allows you to put togheter pages
        from different categories and customize them to your needs to create a
        landing page or a whole website in hours, not months.
      </p>

      <div class="inline-flex flex-wrap items-center mt-8">
        <a
          href="/"
          type="a"
          class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
          Explore all pages
        </a>
      </div>
    </div>
  </div>
</section>
