---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="p-8 overflow-hidden">
    <div
      class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:py-40 w-full bg-gradientdown rounded-[3rem]">
      <span class="text-white">Tags</span>
      <h2
        class="text-3xl tracking-tighter mt-6 font-light lg:text-4xl text-white">
        All available tags
      </h2>
      <ol role="list" class="mt-16 flex flex-wrap gap-3">
        {
          tags.map((tag) => (
            <li>
              <a
                class="inline-flex items-center rounded-full bg-white/10 px-6 py-2 text-xs font-medium text-white ring-1 ring-inset ring-white/10 capitalize"
                href={`/tags/${tag}`}>
                {tag}
              </a>
            </li>
          ))
        }
      </ol>
    </div>
  </section>
</BaseLayout>
