<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-36 items-center relative w-full">
    <div class="text-center max-w-xl mx-auto">
      <span class="text-accent-400"> Pricing</span>
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
        Subscribe <span class="block text-zinc-400">to our chart App</span>
      </h2>
    </div>

    <div class="pb-12 mt-8 sm:mt-12 sm:pb-16 lg:mt-16 lg:pb-24">
      <div class="items-center w-full mx-auto">
        <div class="p-5 bg-ebony shadow-inset rounded-3xl lg:p-0">
          <div
            class="mx-auto space-y-3 lg:space-y-0 lg:mx-0 lg:flex gap-2 lg:max-w-non p-2">
            <div
              class="sm:p-10 lg:flex-auto rounded-3xl lg:bg-gradient-to-tr from-ebony to-mirage lg:border border-white/5">
              <h3 class="text-2xl font-medium tracking-tight text-white">
                Lifetime subscription to Buio
              </h3>
              <p class="mt-6 text-zinc-300">
                Unlimited access to all Buio stuff with a single membership
              </p>
              <div class="mt-10 flex items-center gap-x-4">
                <h4 class="flex-none text-sm font-semibold text-white">
                  We include
                </h4>
                <div class="h-px flex-auto bg-white/20"></div>
              </div>
              <ul
                role="list"
                class="mt-8 grid grid-cols-1 gap-4 text-sm text-white sm:grid-cols-2 sm:gap-6">
                <li class="flex gap-x-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-check"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l5 5l10 -10"></path>
                  </svg>
                  24H Support
                </li>
                <li class="flex gap-x-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-check"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l5 5l10 -10"></path>
                  </svg>
                  Premium Doughnuts
                </li>
                <li class="flex gap-x-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-check"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l5 5l10 -10"></path>
                  </svg>
                  Access to all features
                </li>
                <li class="flex gap-x-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-check"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l5 5l10 -10"></path>
                  </svg>
                  More Doughnuts
                </li>
              </ul>
            </div>
            <div class="-mt-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
              <div
                class="rounded-3xl py-10 text-center md:text-left ring-1 ring-inset ring-white/5 lg:flex lg:flex-col lg:justify-center lg:py-16 bg-gradientdown">
                <div
                  class="mx-auto lg:max-w-xs px-8 grid gird-cols-1 lg:grid-cols-1 md:grid-cols-2">
                  <div>
                    <p class="text-sm text-white lg:text-center">
                      Pay once, use it forever
                    </p>
                    <p
                      class="mt-6 flex items-baseline justify-center md:justify-start lg:justify-center gap-x-2">
                      <span class="text-5xl font-bold tracking-tight text-white"
                        >$899</span
                      >
                      <span
                        class="text-sm font-semibold tracking-wide text-white"
                        >USD</span
                      >
                    </p>
                  </div>
                  <div>
                    <a
                      href="#"
                      class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent mt-10 md:mt-0 lg:mt-10"
                      >Get access</a
                    >
                    <p class="mt-6 text-xs leading-5 text-white text-center">
                      Simplify the reimbursement process for your company with
                      readily accessible invoices and receipts.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
