<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:py-24 relative w-full bg-gradientdown rounded-[3rem]">
    <div class="text-center max-w-xl mx-auto">
      <span class="text-lg text-white font-light"> Pricing</span>
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
        Super Simple pricing <span class="block text-zinc-400"
          >for practically everyrone</span
        >
      </h2>
    </div>
    <!-- xs to lg -->
    <div class="mx-auto mt-12 max-w-md space-y-8 sm:mt-16 lg:hidden">
      <section class="p-8">
        <h3 id="tier-basic" class="text-lg text-white font-light">Basic</h3>
        <p class="mt-2 flex items-baseline gap-x-1 text-white">
          <span class="text-2xl font-light text-white">$9</span>
          <span class="text-sm font-semibold">/month</span>
        </p>
        <a
          href="#"
          aria-describedby="tier-basic"
          class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent mt-8"
          >Get started</a
        >
        <ul role="list" class="mt-10 space-y-4 text-sm leading-6 text-white">
          <li>
            <ul role="list" class="space-y-4">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Data Integrations</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Shared links</span>
              </li>
            </ul>
          </li>
          <li>
            <ul role="list" class="space-y-4">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Advanced analytics</span>
              </li>
            </ul>
          </li>
          <li>
            <ul role="list" class="space-y-4">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Advanced Analytics</span>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section
        class="p-8 rounded-xl bg-ebony/50 shadow-inset ring-1 ring-inset ring-white/10">
        <h3 id="tier-essential" class="text-lg text-white font-light">
          Essential
        </h3>
        <p class="mt-2 flex items-baseline gap-x-1 text-white">
          <span class="text-2xl font-light text-white">$29</span>
          <span class="text-sm font-semibold">/month</span>
        </p>
        <a
          href="#"
          aria-describedby="tier-essential"
          class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent mt-8"
          >Get started</a
        >
        <ul role="list" class="mt-10 space-y-4 text-sm leading-6 text-white">
          <li>
            <ul role="list" class="space-y-4">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Data Integrations</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Shared links</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Importing and exporting</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span>
                  Team members
                  <span class="text-sm leading-6 text-white"
                    >(Up to 20 users)</span
                  >
                </span>
              </li>
            </ul>
          </li>
          <li>
            <ul role="list" class="space-y-4">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Advanced analytics</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Collaborative Sharing</span>
              </li>
            </ul>
          </li>
          <li>
            <ul role="list" class="space-y-4">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Advanced Analytics</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Standard Reports</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Professional Reports</span>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="p-8">
        <h3 id="tier-premium" class="text-lg text-white font-light">Premium</h3>
        <p class="mt-2 flex items-baseline gap-x-1 text-white">
          <span class="text-2xl font-light text-white">$59</span>
          <span class="text-sm font-semibold">/month</span>
        </p>
        <a
          href="#"
          aria-describedby="tier-premium"
          class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent mt-8"
          >Get started</a
        >
        <ul role="list" class="mt-10 space-y-4 text-sm leading-6 text-white">
          <li>
            <ul role="list" class="space-y-4">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Data Integrations</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Shared links</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Importing and exporting</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span>
                  Team members
                  <span class="text-sm leading-6 text-white"
                    >(Up to 50 users)</span
                  >
                </span>
              </li>
            </ul>
          </li>
          <li>
            <ul role="list" class="space-y-4">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Advanced analytics</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Collaborative Sharing</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Import/Export Functionality</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Team Collaboration</span>
              </li>
            </ul>
          </li>
          <li>
            <ul role="list" class="space-y-4">
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Advanced Analytics</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Standard Reports</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Professional Reports</span>
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-white"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                <span> Custom Report Builder</span>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </div>

    <!-- lg+ -->
    <div class="isolate mt-20 hidden lg:block">
      <div class="relative -mx-8">
        <div class="absolute inset-x-4 inset-y-0 -z-10 flex">
          <div
            class="flex w-1/4 px-4"
            style="margin-left: 50%"
            aria-hidden="true">
            <div
              class="w-full rounded-xl ring-1 ring-white/5 bg-ebony shadow-inset">
            </div>
          </div>
        </div>
        <table
          class="w-full table-fixed border-separate border-spacing-x-8 text-left">
          <caption class="sr-only"> Pricing plan comparison</caption>
          <colgroup>
            <col class="w-1/4" />
            <col class="w-1/4" />
            <col class="w-1/4" />
            <col class="w-1/4" />
          </colgroup>
          <thead>
            <tr>
              <td></td>
              <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                <div class="text-lg text-white font-light">Basic</div>
              </th>
              <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                <div class="text-lg text-white font-light">Essential</div>
              </th>
              <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                <div class="text-lg text-white font-light">Premium</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><span class="sr-only">Price</span></th>
              <td class="px-6 pt-2 xl:px-8">
                <div class="flex items-baseline gap-x-1 text-white">
                  <span class="text-2xl font-light text-white">$9</span>
                  <span class="text-sm font-light text-zinc-400">/month</span>
                </div>
                <a
                  href="#"
                  class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent mt-8"
                  >Get started</a
                >
              </td>
              <td class="px-6 pt-2 xl:px-8">
                <div class="flex items-baseline gap-x-1 text-white">
                  <span class="text-2xl font-light text-white">$29</span>
                  <span class="text-sm font-light text-zinc-400">/month</span>
                </div>
                <a
                  href="#"
                  class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent mt-8"
                  >Get started</a
                >
              </td>
              <td class="px-6 pt-2 xl:px-8">
                <div class="flex items-baseline gap-x-1 text-white">
                  <span class="text-2xl font-light text-white">$59</span>
                  <span class="text-sm font-light text-zinc-400">/month</span>
                </div>
                <a
                  href="#"
                  class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent mt-8"
                  >Get started</a
                >
              </td>
            </tr>
            <tr>
              <th
                scope="colgroup"
                colspan="4"
                class="pb-4 text-accent-400 font-light pt-8">
                Features
                <div class="absolute inset-x-8 mt-4 h-px bg-ebony/50"></div>
              </th>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Data Integrations
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Shared links
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Importing and exporting
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Team members
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-white">
                  Up to 20 users
                </div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-white">
                  Up to 50 users
                </div>
              </td>
            </tr>

            <tr>
              <th
                scope="colgroup"
                colspan="4"
                class="pb-4 text-accent-400 font-light pt-16">
                Reporting
                <div class="absolute inset-x-8 mt-4 h-px bg-ebony/50"></div>
              </th>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Advanced analytics
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Collaborative Sharing
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Import/Export Functionality
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Team Collaboration
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>

            <tr>
              <th
                scope="colgroup"
                colspan="4"
                class="pb-4 text-accent-400 font-light pt-16">
                Support
                <div class="absolute inset-x-8 mt-4 h-px bg-ebony/50"></div>
              </th>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Advanced Analytics
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Standard Reports
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Professional Reports
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="py-4 text-sm font-normal leading-6 text-white">
                Custom Report Builder
                <div class="absolute inset-x-8 mt-4 h-px bg-wbony/50"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  class="mx-auto text-white"
                  width="16"
                  height="16"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Not included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-check text-white mx-auto"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
