<div
  x-show="open"
  style="display: none"
  x-on:keydown.escape.prevent.stop="open = false"
  role="dialog"
  aria-modal="true"
  x-id="['modal-title']"
  :aria-labelledby="$id('modal-title')"
  class="fixed inset-0 z-10 overflow-y-auto">
  <!-- Overlay -->
  <div
    x-show="open"
    x-transition.opacity
    class="fixed inset-0 bg-black bg-opacity-50">
  </div>

  <!-- Panel -->
  <div
    x-show="open"
    x-transition
    x-on:click="open = false"
    class="relative flex min-h-screen items-center justify-center p-4">
    <div
      x-on:click.stop
      x-trap.noscroll.inert="open"
      class="relative w-full max-w-2xl text-center overflow-y-auto rounded-2xl lg:rounded-[3rem] bg-white p-12">
      <div class="inline-flex gap-2 items-center">
        <img src="/images/logos/buio.svg" alt="" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrows-left-right"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M21 17l-18 0"></path>
          <path d="M6 10l-3 -3l3 -3"></path>
          <path d="M3 7l18 0"></path>
          <path d="M18 20l3 -3l-3 -3"></path>
        </svg>
        <img src="/images/logos/stripeintegation.svg" alt="" />
        <img src="" alt="" />
      </div>
      <h2
        class="text-2xl mt-6 tracking-tighter font-medium text-black"
        :id="$id('modal-title')">
        Connect Buio to Stripe
      </h2>

      <!-- Content -->

      <p class="mt-6 text-zinc-500 text-sm max-w-md mx-auto">
        Give priority to tasks and projects based on the requirements of your
        customers, and establish a closer feedback loop with them.
      </p>
      <div
        class="p-2 mt-8 transition lg:mx-auto duration-500 ease-in-out transform lg:border max-w-md lg:bg-white rounded-xl lg:rounded-full sm:flex">
        <div class="flex-1 min-w-0 border-b lg:border-0 border-zinc-700">
          <label for="member_email" class="sr-only">Email address</label>
          <input
            autofocus
            id="cta-email"
            type="email"
            class="block w-full px-5 py-2 placeholder-zinc-500 transition duration-500 ease-in-out transform bg-transparent border text-sm border-transparent lg:rounded-full text-black focus:outline-none focus:border-transparent focus:ring-2 focus:ring-black focus:ring-offset-2 focus:ring-offset-zinc-300"
            placeholder="integrations.buio.com/stripe"
          />
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-3 revue-form-actions">
          <button
            class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-white w-full md:w-auto hover:text-black inline-flex items-center justify-center ring-1 gap-2 ring-transparent">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-copy"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"
              ></path>
              <path
                d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"
              ></path>
            </svg> Copy link</button
          >
        </div>
      </div>

      <div class="max-w-md mx-auto mt-6">
        <p class="text-black text-left font-medium">Buio would like to</p>
        <ul role="list" class="text-left list-none text-zinc-500 mt-3 text-xs">
          <li class="inline-flex items-start gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-check"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l5 5l10 -10"></path>
            </svg>Gain access to fundamental company information and
            particulars.
          </li>
          <li class="inline-flex items-start gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-check"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l5 5l10 -10"></path>
            </svg>Access bug reports, make edits, and create new issues.
          </li>
          <li class="inline-flex items-start gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-check"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l5 5l10 -10"></path>
            </svg>Modify the status and assignee of issues.
          </li>
          <li class="inline-flex items-start gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-check"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l5 5l10 -10"></path>
            </svg>Initiate and resolve Intercom conversations.
          </li>
          <li class="inline-flex items-start gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-check"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l5 5l10 -10"></path>
            </svg>Add or remove users and alter user roles.
          </li>
        </ul>
        <p class="text-zinc-400 text-left text-xs mt-12">
          We prioritize your privacy, as stated in our <a
            class="text-accent-500 hover:text-black"
            href="/infopages/privacy">Privacy Policy</a
          >. By clicking "Allow access," you grant Untitled permission to access
          your information.
        </p>
      </div>
      <div
        class="inline-flex flex-wrap gap-1 items-center mt-12 pt-6 border-t w-full max-w-md">
        <a
          href="/"
          type="a"
          class="text-sm py-2 px-4 border focus:ring-2 rounded-full bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-accent-500 inline-flex items-center justify-center ring-1 ring-transparent ml-auto">
          Cancel
        </a>
        <a
          href="/"
          type="a"
          class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-zinc-100 bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-black inline-flex items-center justify-center ring-1 ring-transparent">
          Allow access
        </a>
      </div>
    </div>
  </div>
</div>
