---
import IntegrationsModal from "@/components/integrations/IntegrationsModal.astro";
---

<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:py-36 relative w-full">
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-24 items-end">
        <div>
          <span class="text-accent-400"> Integrations</span>
          <h1
            class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
            Sync your charts <span class="md:block text-zinc-400"
              >speed guaranteed</span
            >
          </h1>
        </div>
        <p class="text-white mt-6 max-w-lg">
          Assist us in gaining a deeper understanding of the financial
          well-being of your business. This includes both the current state and
          the long-term perspective, accomplished by analyzing your profit and
          loss statement and balance sheet.
        </p>
      </div>
      <div class="relative mt-12 pt-12 space-y-24">
        <div class="w-full">
          <div class="pb-6 border-b border-white/10 w-full">
            <span class="text-white text-xl block">Billing</span>
            <span class="block mt-4 text-sm text-zinc-400 max-w-md"
              >Start by syncing your billing to your dashboard. Securely
              connecting the tools you use to bring in revenue makes it simple
              to Buio that revenue for up-front capital.
            </span>
          </div>
          <ul
            class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-4 mt-6 pt-6">
            <div
              x-data="{ open: false }"
              class="bg-ebony shadow-inset  rounded-3xl p-4 w-full inline-flex items-start">
              <div class="text-left flex flex-col h-full justify-between">
                <div class="text-left h-full flex flex-col justify-between">
                  <div>
                    <p class="font-medium leading-6 text-white">Stripe</p>
                    <p class="text-xs mt-2 text-zinc-300">
                      T payment processing platform that allows businesses to
                      accept online payments securely and easily.
                    </p>
                  </div>

                  <div class="mt-24">
                    <button
                      x-on:click="open = true"
                      class="text-xs w-full py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                      Connect
                    </button>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <IntegrationsModal />
            </div>
            <div
              x-data="{ open: false }"
              class="bg-ebony shadow-inset  rounded-3xl p-4 w-full inline-flex items-start">
              <div class="text-left flex flex-col h-full justify-between">
                <div class="text-left h-full flex flex-col justify-between">
                  <div>
                    <p class="font-medium leading-6 text-white">Recurly</p>
                    <p class="text-xs mt-2 text-zinc-300">
                      A subscription management platform that helps businesses
                      manage and optimize recurring billing and subscription
                      services.
                    </p>
                  </div>

                  <div class="mt-24">
                    <button
                      x-on:click="open = true"
                      class="text-xs w-full py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                      Connect
                    </button>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <IntegrationsModal />
            </div>
            <div
              x-data="{ open: false }"
              class="bg-ebony shadow-inset  rounded-3xl p-4 w-full inline-flex items-start">
              <div class="text-left flex flex-col h-full justify-between">
                <div class="text-left h-full flex flex-col justify-between">
                  <p class="font-medium leading-6 text-white">GoCardless</p>
                  <p class="text-xs mt-2 text-zinc-300">
                    An online direct debit solution that enables businesses to
                    collect recurring payments from customers efficiently and
                    affordably
                  </p>
                </div>
                <div class="mt-24">
                  <button
                    x-on:click="open = true"
                    class="text-xs w-full py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                    Connect
                  </button>
                </div>
              </div>
              <!-- Modal -->
              <IntegrationsModal />
            </div>
            <div
              x-data="{ open: false }"
              class="bg-ebony shadow-inset  rounded-3xl p-4 w-full inline-flex items-start">
              <div class="text-left flex flex-col h-full justify-between">
                <div class="text-left h-full flex flex-col justify-between">
                  <p class="font-medium leading-6 text-white">Chargebee</p>
                  <p class="text-xs mt-2 text-zinc-300">
                    A subscription billing and revenue management platform that
                    automates and streamlines the billing process for
                    subscription-based businesses.
                  </p>
                </div>
                <div class="mt-24">
                  <button
                    x-on:click="open = true"
                    class="text-xs w-full py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                    Connect
                  </button>
                </div>
              </div>
              <!-- Modal -->
              <IntegrationsModal />
            </div>
          </ul>
        </div>
        <div class="w-full">
          <div class="pb-6 border-b border-white/10 w-full">
            <span class="text-white text-xl block">Accounting</span>
            <span class="block mt-4 text-sm text-zinc-400 max-w-md"
              >Help us to better understand the financial health of your
              business—now and over time—through your P&L and balance sheet.
            </span>
          </div>
          <ul
            class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-4 mt-6 pt-6">
            <div
              x-data="{ open: false }"
              class="bg-ebony shadow-inset  rounded-3xl p-4 w-full inline-flex items-start">
              <div class="text-left flex flex-col h-full justify-between">
                <div class="text-left h-full flex flex-col justify-between">
                  <p class="font-medium leading-6 text-white">Quickbooks</p>
                  <p class="text-xs mt-2 text-zinc-300">
                    A popular accounting software designed for small and
                    medium-sized businesses, offering a range of financial
                    management features.
                  </p>
                </div>
                <div class="mt-24">
                  <button
                    x-on:click="open = true"
                    class="text-xs w-full py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                    Connect
                  </button>
                </div>
              </div>
              <!-- Modal -->
              <IntegrationsModal />
            </div>
            <div
              x-data="{ open: false }"
              class="bg-ebony shadow-inset  rounded-3xl p-4 w-full inline-flex items-start">
              <div class="text-left flex flex-col h-full justify-between">
                <div class="text-left h-full flex flex-col justify-between">
                  <p class="font-medium leading-6 text-white">Sage</p>
                  <p class="text-xs mt-2 text-zinc-300">
                    A comprehensive business management software that provides
                    tools for accounting, invoicing, payroll, and more, catering
                    to businesses.
                  </p>
                </div>
                <div class="mt-24">
                  <button
                    x-on:click="open = true"
                    class="text-xs w-full py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                    Connect
                  </button>
                </div>
              </div>
              <!-- Modal -->
              <IntegrationsModal />
            </div>
            <div
              x-data="{ open: false }"
              class="bg-ebony shadow-inset  rounded-3xl p-4 w-full inline-flex items-start">
              <div class="text-left flex flex-col h-full justify-between">
                <div class="text-left h-full flex flex-col justify-between">
                  <p class="font-medium leading-6 text-white">Xero</p>
                  <p class="text-xs mt-2 text-zinc-300">
                    A cloud-based accounting software that offers a wide range
                    of accounting and financial management features for small
                    and medium-sized businesses.
                  </p>
                </div>
                <div class="mt-24">
                  <button
                    x-on:click="open = true"
                    class="text-xs w-full py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                    Connect
                  </button>
                </div>
              </div>
              <!-- Modal -->
              <IntegrationsModal />
            </div>
            <div
              x-data="{ open: false }"
              class="bg-ebony shadow-inset  rounded-3xl p-4 w-full inline-flex items-start">
              <div class="text-left flex flex-col h-full justify-between">
                <div class="text-left h-full flex flex-col justify-between">
                  <p class="font-medium leading-6 text-white">KashFlow</p>
                  <p class="text-xs mt-2 text-zinc-300">
                    An intuitive online accounting software primarily aimed at
                    small businesses, offering features for invoicing,
                    bookkeeping, and financial management.
                  </p>
                </div>
                <div class="mt-24">
                  <button
                    x-on:click="open = true"
                    class="text-xs w-full py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
                    Connect
                  </button>
                </div>
              </div>
              <!-- Modal -->
              <IntegrationsModal />
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
