<section class="p-8 bg-white">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 items-center lg:py-24 relative w-full lg:bg-zinc-100 rounded-[3rem]"
  >
    <div>
      <div class="flex flex-col">
        <div class="lg:text-center max-w-2xl lg:mx-auto">
          <h2
            class="text-3xl tracking-tighter font-light lg:text-4xl text-black"
          >
            Subscribe for updates
          </h2>
        </div>
        <form
          action="https://formsubmit.co/david@hazelapp.dev"
          method="post"
          id="revue-form"
          name="revue-form"
          target="_blank"
          class="p-2 mt-8 transition lg:mx-auto duration-500 ease-in-out transform lg:border border-white/10 lg:bg-white rounded-xl lg:rounded-full sm:max-w-lg sm:flex"
        >
          <div class="flex-1 min-w-0 border-b lg:border-0 border-zinc-700">
            <label for="member_email" class="sr-only">Email address</label>
            <input
              autofocus
              id="cta-email"
              type="email"
              class="block w-full px-5 py-2 placeholder-zinc-500 transition duration-500 ease-in-out transform bg-transparent border text-sm border-transparent rounded-2xl lg:rounded-full text-black focus:outline-none focus:border-transparent focus:ring-2 focus:ring-black focus:ring-offset-2 focus:ring-offset-zinc-300"
              placeholder="Enter your best email..."
            />
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-3 revue-form-actions">
            <button
              class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-black inline-flex items-center justify-center ring-1 ring-transparent"
              >Subscribe me</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
