<section class="lg:p-8 overflow-hidden">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center w-full">
    <div>
      <div class="pb-12 border-b border-white/20">
        <span class="text-xl mt-6 tracking-tighter font-light text-white"
          >color palete</span
        >
      </div>
      <div class="py-3 space-y-6 mt-12">
        <div class="grid grid-cols-4 lg:grid-cols-6 py-3 gap-2 max-w-3xl">
          <div class="bg-white border p-6 rounded-md lg:p-12 w-full"></div>
          <div class="bg-gradientup p-6 rounded-md lg:p-12 w-full"></div>
          <div class="bg-gradientdown p-6 rounded-md lg:p-12 w-full"></div>
          <div class="bg-accent-500 p-6 rounded-md lg:p-12 w-full"></div>
          <div
            class="bg-gradient-to-r from-accent-300 via-accent-400 to-accent-500 border border-zinc-700 p-6 rounded-md lg:p-12 w-full">
          </div>

          <div class="bg-black p-6 rounded-md lg:p-12 w-full"></div>
        </div>
      </div>
    </div>
  </div>
</section>
