<section class="lg:p-8 overflow-hidden">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center w-full bg-gradientdown rounded-[3rem]">
    <div class="justify-center max-w-3xl">
      <h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-6xl text-white">
        Overview
      </h2>
      <p class="mt-4 text-base text-white">Explore all pages</p>
    </div>
    <div
      class="grid grid-cols-2 gap-12 lg:grid-cols-5 md:grid-cols-3 mt-12 pt-12 border-t border-white/10">
      <div class="text-sm mt-10 lg:mt-0">
        <div class="flex flex-col justify-start">
          <p class="text-xl text-white mb-2">Landing Pages</p><a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/landingpages/landing-one"
            >Landing Page One
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/landingpages/landing-two">Landing Page Two</a
          >
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/landingpages/landing-three">Landing Page Three</a
          >

          <p class="text-xl text-white mt-12 mb-2">About</p>
          <a class="text-sm text-white hover:text-white/80 mt-2" href="/about"
            >About
          </a>
          <p class="text-xl text-white mt-12 mb-2">Help Center</p>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/helpcenter/help-home"
            >Help center home
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/helpcenter/knowledge-base"
            >Knowledge Base
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/helpcenter/topic"
            >Topic
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/helpcenter/status"
            >Status
          </a>
        </div>
      </div>
      <div class="text-sm mt-10 lg:mt-0">
        <div class="flex flex-col justify-start">
          <p class="text-xl text-white mb-2">Pricing Pages</p>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/pricingpages/pricing-one"
            >Pricing Page One
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/pricingpages/pricing-two"
            >Pricing Page Two
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/pricingpages/pricing-three"
            >Pricing Page Three
          </a>
          <p class="text-xl text-white mt-12 mb-2">Blog Pages</p>
          <a class="text-sm text-white hover:text-white/80 mt-2" href="/blog"
            >Blog home</a
          >
          <a class="text-sm text-white hover:text-white/80 mt-2" href="/posts/1"
            >Blog post</a
          >

          <a class="text-sm text-white hover:text-white/80 mt-2" href="/tags">
            Tag index
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/tags/astro">
            Tag slug
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/rss.xml">
            RSS
          </a>
        </div>
      </div>
      <div class="text-sm mt-10 lg:mt-0">
        <div class="flex flex-col justify-start">
          <p class="text-xl text-white mb-2">Utility Pages</p>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/infopages/bug-bounty"
            >Bug Bounty
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/infopages/usage"
            >Usage
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/infopages/changelog"
            >Changelog
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/infopages/terms"
            >Terms Of use
          </a><a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/infopages/privacy"
            >Privacy Policy
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/infopages/404">404</a
          >
          <p class="text-xl text-white mt-12 mb-2">Partnerships</p>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/partnerships"
            >Partnerships home
          </a>
          <p class="text-xl text-white mt-12 mb-2">All sections</p>

          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/components/all-features">All feature sections</a
          >
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/components/all-pricing"
            >All pricing
          </a>
        </div>
      </div>

      <div class="text-sm mt-10 lg:mt-0">
        <div class="flex flex-col justify-start">
          <p class="text-xl text-white mb-2">Forms Pages</p>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/forms/download"
            >Download
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/forms/contact"
            >Contact
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/forms/submit"
            >Submit
          </a>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/forms/login"
            >Login
          </a><a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/forms/signup"
            >Sign up
          </a><a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/forms/forgot"
            >Forgot Password
          </a>
          <p class="text-xl text-white mb-2 mt-12">Integrations</p>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/integrations/integrations-home"
            >Integrations home
          </a>
        </div>
      </div>

      <div class="text-sm mt-10 lg:mt-0">
        <div class="flex flex-col justify-start">
          <p class="text-xl text-white mb-2">System Pages</p>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/system/styleguide">Style Guide</a
          >
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="https://lexingtonthemes.com/license.html">License</a
          >
          <p class="text-xl text-white mt-12 mb-2">Recruiting</p>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/carriers/carriers">Carriers home</a
          >
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/carriers/carriers-details">Carries details</a
          >
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/carriers/carrier-application">Carries application</a
          >
          <p class="text-xl text-white mt-12 mb-2">Customers</p>
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/customers/customers-home">Customers home</a
          >
          <a
            class="text-sm text-white hover:text-white/80 mt-2"
            href="/customers/customers-details">Customers details</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
