<section class="lgp-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:py-40 w-full">
    <div>
      <div class="max-w-xl">
        <p
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Style guide
        </p>
      </div>
      <div class="max-w-xl mt-24">
        <div class="pb-12 border-b border-white/20">
          <span class="text-xl mt-6 tracking-tighter font-light text-white"
            >Typography - Inter</span
          >
        </div>
        <div class="py-3 space-y-6 mt-12">
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Header 1</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-3xl lg:text-5xl font-semibold text-white"
                >Header 1
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Header 2</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-2xl lg:text-4xl font-semibold text-white"
                >Header 2
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Header 3</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-xl font-semibold text-white lg:text-3xl"
                >Header 3
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Header 4</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-lg font-semibold text-white lg:text-2xl"
                >Header 4
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Header 5</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-base font-medium text-white lg:text-xl"
                >Header 5
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Header 6</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm font-medium text-white lg:text-lg"
                >Header 6
              </span>
            </div>
          </div>

          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Link</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-accent-300 hover:text-white underlined"
                >Link text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Subtitle</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-lg font-medium leading-6 text-white"
                >Subtitle text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Paragraph</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-base text-white"
                >I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Caption</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-white">Picture about somethign</span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div>
              <span class="text-white">List</span>
            </div>
            <div class="col-span-2 lg:col-span-3">
              <ul
                class="list-decimal text-base list-inside space-y-3 mt-6 text-white"
                role="list">
                <li>Next.js and/or Nuxt.js</li>
                <li>CReact Native .</li>
                <li>AWS and/or Firebase</li>
                <li>Familiarity with noSQL databases</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
