<section class="lg:p-8">
  <div
    class="px-8 py-12 lg:py-24 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div
      class="relative isolate lg:flex-col overflow-hidden bg-gradientdown ring-1 ring-white/10 rounded-4xl px-6 p-10 lg:flex lg:p-20">
      <div>
        <span class="text-white"> Benefits</span>
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Foster growth by aiding your

          <span class="lg:block text-zinc-300"
            >customers in their own growth journey.</span
          >
        </h2>
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-4 mt-12">
        <li class="bg-ebony shadow-inset rounded-3xl p-4">
          <figure>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check text-white"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="font-medium leading-6 text-white mt-24">Capitalize</p>
              <p class="text-xs mt-2 text-zinc-300">
                Tap into capital opportunities spanning various industries,
                including SaaS, eCommerce, and more.
              </p>
            </div>
          </figure>
        </li>
        <li class="bg-ebony shadow-inset rounded-3xl p-4">
          <figure>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check text-white"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="font-medium leading-6 text-white mt-24">Accelerate</p>
              <p class="text-xs mt-2 text-zinc-300">
                Boost customer acquisition by streamlining financing processes
                for enhanced convenience.
              </p>
            </div>
          </figure>
        </li>
        <li class="bg-ebony shadow-inset rounded-3xl p-4">
          <figure>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check text-white"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="font-medium leading-6 text-white mt-24">
                Gain Insights
              </p>
              <p class="text-xs mt-2 text-zinc-300">
                Gain valuable insights into the well-being of your customer base
                and uncover growth opportunities.
              </p>
            </div>
          </figure>
        </li>
        <li class="bg-ebony shadow-inset rounded-3xl p-4">
          <figure>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check text-white"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="font-medium leading-6 text-white mt-24">Flourish</p>
              <p class="text-xs mt-2 text-zinc-300">
                Develop a new revenue stream that aligns seamlessly with your
                primary growth objectives.
              </p>
            </div>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</section>
