<section class="lg:p-8">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:gap-24 items-center">
      <div>
        <span class="text-accent-400"> Programm</span>
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Stronger as a Team
        </h2>
        <p class="mt-4 text-base text-white">
          Are you aware of businesses that could experience accelerated growth
          by leveraging Buio? Earn waived fees for your customers and receive
          rewards for assisting business owners in achieving growth on their own
          terms.
        </p>
        <p class="mt-4 text-base text-zinc-400">
          Discover the reasons behind Spendesk's collaboration with Buio,
          empowering CFOs to establish resilient businesses in any industry.
        </p>
      </div>

      <img class="mt-12 lg:mt-0" src="/images/assets/cube.png" alt="#" />
    </div>

    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:gap-24 items-center">
      <div>
        <span class="text-accent-400"> Rewards</span>
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Enroll in Buio's Partner Program
          <span class="md:block text-zinc-400"
            >and enjoy exclusive benefits</span
          >
        </h2>
        <p class="mt-4 text-base text-white">
          Interested in becoming a referral or strategic partner? Whether you're
          a venture capitalist, funding advisor, or software company aiming to
          streamline financing for your customers, we have the infrastructure in
          place to assist you.
        </p>
      </div>

      <img
        class="mt-12 lg:mt-0 lg:order-first"
        src="/images/assets/cubeTwo.png"
        alt="#"
      />
    </div>
  </div>
</section>
