<section class="lg:p-8">
  <div
    class="px-8 py-12 lg:py-24 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:gap-24 items-center">
      <div>
        <span class="text-accent-400"> Why buio?</span>
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white">
          Offer a real-time

          <span class="block text-zinc-400">working charting line</span>
        </h2>
        <p class="mt-4 text-base text-white">
          Speed up your customer acquisition by providing instant cash flow to
          businesses, right when they need it. No pitch decks or financial
          forecasts required.
        </p>
        <p class="mt-4 text-base text-zinc-400">
          Join our partner community and enable entrepreneurs to focus on what
          really matters - building their business.
        </p>
        <div class="inline-flex flex-wrap items-center mt-8">
          <a
            href="#"
            type="a"
            class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">
            Learn more &nbsp; &rarr;
          </a>
        </div>
      </div>

      <img class="mt-12 lg:mt-0" src="/images/assets/circuitry.svg" alt="#" />
    </div>
  </div>
</section>
